//Form select libraries
select.sort
  display: none

.options
  width: 100%
  display: none
  border-radius: 5px
  font-size: 14px
  font-weight: 400
  line-height: 26px
  letter-spacing: 1.4px
  color: $color-text
  padding: 15px 25px
  box-sizing: border-box
  font-family: $lato-font
  border-top: none
  background: $background-color-options

.form--lighten .options
  background: $background-color-select-light
  border: 1px solid darken(#ccc, 10%)

.selectLabel
  position: relative
  @extend %input-style
  transition: background-color .3s ease
  background: $background-color-options
  z-index: 10

  @media (max-width: $exclusive-sm)
    font-size: 12px

  @media #{$med-normal-xs}
    padding-left: 15px
    padding-right: 27px
    font-size: 10px!important

.selectLabel.active
  z-index: 4
  background: $background-color-select

  @media #{$med-small-xs}
    padding-left: 15px
    padding-right: 27px
    font-size: 10px

.form--lighten .selectLabel
  background: $background-color-select-light!important

.form--lighten .selectLabel.active
  background-color: #fff!important

.form--lighten .selectLabel
  background: #fff
  color: darken(#ccc, 10%)
  border: 1px solid darken(#ccc, 10%)

.cusSelBlock
  position: relative
  cursor: pointer

  .options
    display: none
    position: absolute
    top: 40px
    left: 0
    z-index: 2
    padding-top: 44px
    opacity: 0
    transition: all .3s ease
    //padding-bottom: 25px

    @media (max-width: $exclusive-sm)
      font-size: 12px

    @media #{$med-small-xs}
      padding-left: 15px
      padding-right: 15px
      font-size: 10px!important

    li
      padding: 10px 0
      cursor: pointer
      transition: all .3s ease
      color: #fff
      border-bottom: 1px solid $silver-border-light

      &.active, &:hover
        color: $color-primary

      &:last-child
        padding-bottom: 0
        border-bottom: none

  .options.options-active
    opacity: 1
    top: 0
    display: block

.form--lighten .cusSelBlock .options li
  color: darken(#ccc, 10%)

.form--lighten .cusSelBlock .options li.active, .form--lighten .cusSelBlock .options li:hover
  color: $color-primary
//Form select libraries


//Forms styles
.form
    position: relative
    width: 225px

    &-icon
      &-arrow
        &-up
          position: absolute
          top: 15px
          right: 15px
          z-index: 15

          i
            color: #fff
    &--lighten
      width: 210px

    &--lighten .form-icon-arrow-up i
      color: rgba($color-text, .5)