.popup
  position: relative
  transition: opacity .3s ease, z-index .3s ease
  opacity: 1
  z-index: 1

  &.hide
    opacity: 0
    z-index: -1

  &-form
    @media (max-height: 600px)
      max-height: 350px
      overflow-y: scroll

    @media (max-height: 450px) and (orientation: landscape)
      max-height: 350px
      overflow-y: scroll

    &--reviews, &--questions
      +flex(flex-start, center, true, nowrap)
      text-align: center

      &.hide
        display: none

      & .form-input-box
        margin-top: 15px

      @media #{$med-small-xs}
        & .form-input-box
          input
            & + .form-input-box__icon, & + span + .form-input-box__icon
              top: 50%!important

        & .form-input-box
          textarea
            padding-top: 15px

    &--reviews &__title, &--reviews &__description, &--questions &__title, &--questions &__description
      text-align: center
      display: block

    &--reviews &__title, &--questions &__title
      font-size: 33px

    &--reviews &__description, &--questions &__description
      font-size: 16px
      margin-top: 15px
      line-height: 100%
      padding: 0 10px
      margin-bottom: 20px

      @media #{$med-xs}
        font-size: 13px

    & .form-input-box
      margin-top: 15px

      +inputBox()
      +formFiledStyles(false, 10px 20px 10px 40px, rgba($color-text, .5))
      width: 100%

      input, textarea
        width: 100%
        max-width: initial

        &::placeholder
          color: rgba($color-text, .7)

      span
        +position(a, true, 50%, false, 0, true, 15px)
        +transform(false, false, 0, true, -30%)
        font-size: 17px
        font-family: $lato-font
        color: red
        transition: opacity .3s ease
        opacity: 1

        &.hide
          opacity: 0

    textarea
      height: 100px

      & + i
        transform: none!important
        top: 15px!important

    &__btn
      margin-top: 35px
      box-shadow: $shadow-product-btn

      @media (max-height: 450px) and (orientation: landscape)
        width: 100%
        max-width: initial
        min-height: 45px

      @media #{$med-very-xs}
        min-height: 45px

      @media #{$med-small-xs}
        width: 100%
        max-width: initial

  &__btn
    &-close
      position: absolute
      top: 35px
      right: 35px
      cursor: pointer
      font-size: 18px
      color: $color-basket-params
      transition: color .3s ease

      @media #{$med-xs}
        right: 20px

      @media (max-height: 450px) and (orientation: landscape)
        top: 40px
        right: 20px

      @media (max-height: 320px) and (orientation: landscape)
        right: 35px

      &:hover
        color: $color-primary