.pagination
  margin-left: 15px
  +flex(center, center, false, nowrap)

  @media #{$med-mob-small}
    margin-left: 0

  li
    @media #{$med-mob-small}
      &:first-child, &:nth-child(2), &:nth-child(3)
        margin-right: 5px

  &__item
    +flex(center, center)
    background: transparent
    height: 38px
    width: 38px
    border-radius: 50%
    color: $color-text
    transition: background .3s ease, color .3s ease
    margin-right: 18px

    @media #{$med-mob-small}
      display: none

      &.show-mobile
        display: flex
        margin-right: 5px

    &:hover
      background: $background-color-pagination-hover
      color: #fff

    &--dots
      &:hover
        background-color: transparent
        color: $color-text

      @media #{$med-mob-small}
        display: flex
        margin-right: 15px

    &--active
      background: $color-primary
      color: #fff

      &:hover
        background: $color-primary

  li:last-child &__item
    margin-right: 0!important