.product
  &-count
    &-calculator
      +flex(center, center, false, nowrap)

      &__btn
        &--minus, &--plus
          margin-right: 15px
          color: $silver-border-light
          font-size: 30px
          font-weight: bold
          line-height: 25px
          transition: color .3s ease, opacity .3s ease

          @media #{$med-mob-small}
            font-size: 25px

          @media #{$med-very-xs}
            padding: 10px

          @media #{$med-very-xs}
            margin-right: 10px

          &:hover
            color: $color-primary

          &[disabled="disabled"]
            opacity: .3

            &:hover
              color: $silver-border-light

        &--minus
          font-size: 30px
          line-height: 35px

          @media #{$med-very-xs}
            padding-left: 0

        &--plus
          margin-right: initial
          margin-left: 15px

          @media #{$med-very-xs}
            padding-right: 0
            margin-left: 10px

      &__count
        &-number
          font-size: 22px
          transition: opacity .3s ease
          opacity: 1

          @media #{$med-mob-small}
            font-size: 18px

          &.hide
            opacity: 0