.complete
  &-order
    &-head
      width: 100%

      &__section
        &-top, &-bottom

        &-top
          //padding: 30px 0 35px
          //border-bottom: 1px solid $silver-border-light
          //width: 100%
          //
          //@media #{$med-mob}
          //  padding: 20px 0

        &-bottom
          padding-top: 35px

      &__link
        &-prev
          +flex(flex-end, center)
          flex-direction: row-reverse

          a, i
            color: $color-bread-crumbs

          a
            font-family: $lato-font
            font-size: 15px
            font-weight: bold
            text-transform: uppercase

            @media #{$med-xlg-small}
              font-size: 13px

          i
            transition: color .3s ease
            font-size: 18px
            margin-right: 10px

          a
            &:hover
              & + i
                color: $color-primary