.basket
  &-products
    &-list
      width: 100%

      @media #{$med-very-xs}
        margin-top: 25px

      &__item
        margin-top: 35px
        padding-bottom: 10px
        border-bottom: 1px solid $silver-border-light
        width: 100%
        +flex(space-between, center, false, nowrap)

        @media #{$med-very-xs}
          align-items: flex-end

        &:first-child
          margin-top: 0

        &-img
          max-width: 90px
          max-height: 90px

        &-name
          font-size: 22px!important
          transition: color .5s linear

          &:hover
            color: $color-primary

          &.title
            @media #{$med-mob}
              font-size: 14px!important

            @media #{$med-small-xs}
              font-size: 12px!important

        &-price
          color: $color-text
          opacity: .7
          font-family: $lato-font
          font-size: 22px
          transition: opacity .3s ease

          @media #{$med-mob}
            font-size: 18px

          @media #{$med-very-xs}
            font-size: 16px
            margin-top: 15px
            margin-left: auto

          &.hide
            opacity: 0

        &-btn
          &-delete
            cursor: pointer
            font-size: 18px
            color: $color-basket-params
            transition: color .3s ease

            @media #{$med-very-xs}
              align-self: flex-end
              font-size: 20px
              margin-left: auto
              text-align: right
              display: flex
              justify-content: flex-end
              padding-right: 0

            &:hover
              color: $color-primary

        &-section
          &-left, &-right

          &-left
            width: 100%
            +flex(flex-start, center, false, nowrap)

          &-right
            width: 100%
            max-width: 125px
            +flex(space-between, center, false, nowrap)
            margin-left: 120px

            @media #{$med-mob}
              margin-left: 60px

            @media #{$med-very-xs}
              padding-bottom: 10px
              max-width: 95px
              margin-left: auto
              flex-direction: column-reverse
              align-items: flex-end
              justify-content: flex-end
              text-align: right

        &-description
          margin-left: 35px
          +flex(space-between, center, false, nowrap)
          width: 100%
          max-width: 1125px

          @media #{$med-mob}
            margin-left: 30px

          @media #{$med-very-xs}
            flex-direction: column
            align-items: flex-start
            justify-content: flex-start
            max-width: 50%

            & .product-count-calculator
              margin-right: auto
              margin-top: 15px

            & .product-count-calculator__btn--minus, .product-count-calculator__btn--plus
              line-height: 15px

          @media #{$med-small-xs}
            margin-left: 20px

      &--thanks &__item-description
          max-width: 86%

      &--thanks
        & .basket-products-list__item-section-right
          @media #{$med-mob}
            margin-left: 95px

  &__information
    &-order
      width: 100%
      +flex(space-between, flex-end)
      padding-bottom: 10px
      border-bottom: 1px solid $silver-border-light

      &-section
        &-left, &-right

        &-left
          &-title
            font-weight: 500
            color: $color-basket-params
            margin-bottom: 10px
            display: block

            @media #{$med-xs}
              font-size: 14px

          &-numbers
            span
              font-family: $lato-font
              font-size: 30px
              font-weight: 300

              @media #{$med-xs}
                font-size: 22px

              &:before
                content: '№'
                font-size: 30px
                font-family: $lato-font
                font-weight: 300
                margin-right: 10px

                @media #{$med-xs}
                  font-size: 22px

        &-right
          span
            font-family: $lato-font
            font-size: 17px
            font-weight: normal

            @media #{$med-xs}
              font-size: 15px