.complete
  &-order
    &-content
      width: 100%
      margin-top: 35px
      margin-left: 110px
      margin-right: 75px
      +flex(flex-start, flex-start, false, nowrap)

      @media #{$med-mob}
        flex-direction: column
        margin: 35px auto 0
        max-width: 590px

      &__order
        &-products, &-pay, &-confirm
          width: 100%

        &-products
          margin-top: 70px

        &-pay
          & .form-input-row
            margin-top: 20px

            &:nth-of-type(2)
              & .form-input-row__icon
                top: 24%

                //@media #{$med-xxs}
                  top: 30.5%

              & input + label + input + span
                top: 24.5%

                //@media #{$med-mob}
                  top: 31.5%

            &:nth-of-type(3) .form-input-row__field, &:nth-of-type(4) .form-input-row__field
              margin-top: 0

            &:first-of-type
              margin-top: 35px

            &:nth-of-type(2)
              border-bottom: none

          @media #{$med-mob}
            & .form-input-row:last-of-type
              & .form-input-row__item
                &:nth-child(2)
                  display: none

              & .form-input-row--pay-grid
                input
                  max-width: 35vw!important

          & .form-input-row .title
            font-size: 18px

          & .basket-section-pay
            margin-top: 0

      &__section
        &-left, &-right
          border: 1px solid $silver-border-light
          width: 100%

          @media #{$med-lg-big-str}
            padding: 45px 25px

          @media #{$med-mob}
            box-shadow: $shadow-complete-boxes

        &-head, &-bottom
          width: 100%

        &-left
          padding: 55px 55px 90px
          max-width: 590px

          & .form-input-row.small
            padding-bottom: 0!important

        &-right
          padding: 55px 55px 70px
          margin-left: 35px

          @media #{$med-mob}
            margin-left: 0
            margin-top: 30px

            & .btn
              max-width: initial

        &-head
          +flex(space-between, center)

        &-bottom
          margin-top: 20px
          +flex(flex-end, flex-start)

      &__btn
        &-controll
          &-prev, &-next
            padding: 0 4px

            i
              font-size: 28px
              transition: color .3s ease

            &:hover
              i
                color: $color-primary

            &[disabled], &:active
              i
                color: $color-bread-crumbs

      &__link
        text-transform: uppercase
        margin-top: 0

      &__title
        font-size: 25px

        @media #{$med-xlg-small}
          font-size: 20px

      &__form
        &-section
          &-head
            &-grid
              margin-top: 35px
              display: grid
              grid-template-columns: repeat(2, auto)
              grid-template-rows: 40px 40px
              grid-template-areas: "first-name phone" "last-name email"
              grid-gap: 15px

              @media #{$med-xs}
                grid-template-rows: 35px 35px

              & .form-input-box
                &:first-child
                  grid-area: first-name

                &:nth-child(2)
                  grid-area: last-name

                &:nth-child(3)
                  grid-area: phone

                &:last-child
                  grid-area: email

                +inputBox()
                +formFiledStyles(false, 10px 20px 10px 40px, rgba($color-text, .7))

                input, textarea
                  width: 100%
                  max-width: initial

                  @media #{$med-xs}
                    font-size: 10px

                  &::placeholder
                    color: rgba($color-text, .7)

                    @media #{$med-xs}
                      line-height: 15px

                span
                  +position(a, true, 50%, false, 0, true, 15px)
                  +transform(false, false, 0, true, -30%)
                  font-size: 17px
                  font-family: $lato-font
                  color: red
                  transition: opacity .3s ease
                  opacity: 1

                  &.hide
                    opacity: 0

            &-center
              margin-top: 35px

            &-center > .form-input-row
              margin-top: 20px
              width: 100%

              @media #{$med-mob}
                &:first-child
                  margin-top: 35px

            &-center .form-input-row input::placeholder
              color: rgba($color-text, .7)

            &-center .form-input-row__title
              font-size: 18px

            &-center > .form-input-row:first-of-type
              margin-top: 35px

            &-bottom
              margin-top: 80px

              & .title
                font-size: 24px
                display: inline-block
                width: 100%
                max-width: 165px

                @media #{$med-xlg-small}
                  font-size: 20px
                  max-width: 140px

                @media #{$med-mob}
                  max-width: 155px!important

              &__descsription
                font-size: 20px
                font-weight: normal
                margin-left: 10px
                display: inline-block

              @media #{$med-xlg-small}
                span
                  font-size: 14px

            &-bottom > .form-input-box
                textarea
                  margin-top: 30px
                  +formFiledStyles(false, 10px 20px 10px 40px, rgba($color-text, .7))
                  max-width: initial
                  height: 100px

                  &::placeholder
                    color: rgba($color-text, .7)

                  & + i
                    top: 34%
                    transform: none

        &-box-title
          width: 100%
          max-width: 300px

      &__products
        position: relative
        margin-top: 35px
        height: 430px
        overflow: hidden

    &-products
      &-list
        width: 100%
        +position(a, true, 0, true, 0)
        transition: top .3s ease

        &__section
          &-left, &-right

          &-left
            +flex(flex-start, flex-start, false, nowrap)

        &__item
          margin-top: 20px
          width: 100%
          padding-bottom: 10px
          +flex(space-between, center, false, nowrap)
          border-bottom: 1px solid $silver-border-light
          max-height: 91px
          overflow: hidden

          &:first-child
            margin-top: 0

          &-img
            //background: darken($bg-color-light, 2%)
            //height: auto
            //width: 100%
            max-width: 80px
            max-height: 80px
            min-height: 80px
            //object-fit: contain
            //border: 1px solid $silver-border-light

          &-info
            margin-left: 15px

          &-info &-title
            font-size: 17px

            @media #{$med-xlg-small}
              font-size: 14px!important

            @media #{$med-xs}
              font-size: 13px!important

          &-price
            color: $color-bread-crumbs
            font-family: $lato-font
            margin-top: 10px
            font-size: 17px
            display: block

          &-count
            font-family: $lato-font
            font-weight: bold

            @media #{$med-xs}
              font-size: 15px

    &-confirm
      &-section
        &-pay
          width: 100%
          +flex(flex-start, flex-end, true)

          &__form
            +flex(flex-start, flex-end, true)

            &-btn
              &-submit
                margin-top: 10px

                @media #{$med-xlg-small}
                  margin-top: 15px
                  font-size: 14px

                @media #{$med-xs}
                  font-size: 12px

          &__description
            margin-top: 20px
            text-align: right
            display: block
            width: 100%
            max-width: 320px
            color: $color-bread-crumbs

            @media #{$med-xlg-small}
              font-size: 14px

          &__link
            text-transform: uppercase!important

            &:hover
              color: $color-primary