.text
  &-block
    width: 100%
    font-family: $lato-font
    font-size: 18px
    line-height: 250%
    margin-bottom: 50px

    @media #{$med-mob}
      font-size: 16px
      line-height: 200%

    @media #{$med-mob-small}
      font-size: 14px
      margin-bottom: 35px

    a
      color: $color-primary

    &--small
      font-size: 16px
      line-height: 150%
      margin-bottom: 20px

      @media #{$med-mob-small}
        font-size: 14px