.about
  &-delivery
    &-content
      margin-top: 35px

      &__texts
        margin-top: 25px

      &__btn
        margin-top: 35px
        display: block
        max-width: 260px
        box-shadow: $shadow-product-btn