.products
  &-item
    +flex(center, stretch, false, nowrap)

    @media (max-width: $media-between-xg)
      width: 99%!important

    @media #{$med-mob}
      flex-direction: column
      display: none

    &--mobile, &--extra-mobile
      display: none

    &--mobile
      @media #{$med-mob}
        display: flex

      @media (max-width: 550px)
        display: none

    &--extra-mobile
      @media (max-width: 550px)
        display: flex

    & .product-item__img
      margin-bottom: 0

    & .product-item__btn-buy
      margin-top: 0

    &__section
      &-left, &-right

      @media #{$med-mob}
        &-left .price__number strike, &-right .price__number strike
          position: relative

      @media #{$med-mob-small}
        &-left .price__number strike, &-right .price__number strike
          right: -20px

      &-left
        margin-right: 50px
        width: 50%
        height: 100%

        @media #{$med-lap}
          width: 42%

        @media #{$med-lg-str}
          margin-right: 30px

        @media #{$med-mob}
          width: 100%!important
          margin-bottom: 30px
          margin-right: 0!important

        @media #{$med-xs}
          margin-bottom: 10px

        & .product-item
          padding-left: 75px
          padding-right: 75px
          height: 100%
          width: 100%!important
          max-width: initial

          @media #{$med-lg-str}
            padding-left: 50px
            padding-right: 50px

          @media #{$med-mob}
            padding-top: 35px
            padding-bottom: 30px

        & .product-item__img
          margin-bottom: 15px
          width: 100%
          max-width: 400px
          //object-fit: cover

          @media #{$med-lg-str}
            height: 300px

          @media #{$med-mob}
            height: 280px

        & .product-item
          height: 100%

          @media (max-width: $media-between-xg)
            min-height: initial

        & .product-item__img
          height: 400px

          @media (max-width: $media-between-xg)
            max-width: 300px
            margin-right: 0
            margin-left: 0

        & .price__number
          @media #{$med-mob}
            //left: 85%

            &:after
              left: 5%
              //left: -25px

            strike
              font-size: 15px
              top: -35px
              right: -20px!important

        //& .product-item__price
          @media #{$med-mob}
            transform: translateX(-10%)

        & .product-item__btn-buy
          @media #{$med-mob}
            padding-left: 50px
            padding-right: 50px

      &-right
        +flex(center, flex-start, true, nowrap)
        height: 100%

        & .product-item__img
          object-fit: cover
          height: 180px
          margin-bottom: 10px

        @media #{$med-xlg}
          & .product-item
            width: 100%
            padding-left: 8.5%
            padding-right: 8.5%

        @media #{$med-lg-str-small}
          & .product-item
            padding-left: 25px
            padding-right: 25px

        @media #{$med-mob}
          //& .product-item__price
            transform: translateX(-10%)

          & .price__number
            //left: 80%

            //&:after
              left: -24px

            strike
              right: -25px

          & .product-item__btn-buy
            padding-left: 50px
            padding-right: 50px

        @media #{$med-small-xs}
          display: none

        &-head, &-footer
          width: 100%
          height: 50%
          min-height: 480px
          +flex(center, stretch, false, nowrap)

          @media #{$med-mob}
            min-height: initial

        &-head .product-item, &-footer .product-item
          padding: 35px 100px 45px
          margin-right: 50px

          @media #{$med-lg-str}
            margin-right: 30px

        &-footer .product-item:last-child
          @media #{$med-mob}
            margin-right: 0!important

        &-head .product-item:last-child, &-footer .product-item:last-child
          margin-right: 0

        &-head
          margin-bottom: 50px

          @media #{$med-mob}
            display: none

          @media #{$med-lg-str}
            margin-bottom: 30px

        &-footer