.card
  &-tabs
    margin-top: 90px
    padding-bottom: 45px

    &-controllers
      &-list
        +flex(flex-start, stretch, false, nowrap)

        @media #{$med-mob-normal}
          flex-direction: column

        &__item
          position: relative
          padding: 15px 30px
          border: 1px solid $silver-border-light
            top-right-radius: 15px
            top-left-radius: 15px
          background: darken($bg-color-light, 2%)
          +flex(center, center, false, nowrap)
          transition: background .3s ease, z-index .3s ease, border .3s ease
          margin-right: 10px
          cursor: pointer
          z-index: 1

          @media #{$med-mob-normal}
            justify-content: flex-start

          &:last-child
            margin-right: 0

          @media #{$med-mob-normal}
            margin-right: 0
            border-radius: 0

            &:first-child
              border-top-right-radius: 15px
              border-top-left-radius: 15px

            &:nth-child(2), &:last-child
              border-top: none

            &:last-child
              border-bottom: 1px solid $silver-border-light

          span
            font-size: 18px
            font-family: $lato-font
            font-weight: bold
            transition: color .3s ease
            color: $color-product-tabs-controllers

            @media #{$med-mob}
              font-size: 13px

          &-count
            +position(r, true, 50%)
            +transform(false, false, 0, true, -40%)
            font-size: 14px!important
            color: #fff!important
            +flex(center, center)
            background: $color-primary
            border-radius: 2px
            padding: 4px!important
            margin-left: 10px

            @media #{$med-mob-normal}
              transform: initial

          &:hover
            span
              color: $color-primary

          &--active
            background: #fff
            z-index: 2
            border-bottom: 1px solid transparent

            @media #{$med-mob-normal}
              border-bottom: 1px solid $silver-border-light

            span
              color: $color-primary

    &-content
      +position(r, true, -1px)
      width: 100%
      border: 1px solid $silver-border-light
      transition: height .3s ease

      &__item
        +position(a, true, 0, true, 0)
        transition: opacity .3s ease, z-index .3s ease
        width: 100%
        padding: 55px 55px 80px
        +flex(space-between, flex-start, false, nowrap)
        opacity: 0
        z-index: -1
        height: 100%
        overflow: hidden

        @media #{$med-mob-normal}
          padding-bottom: 45px

          &:first-child .card-tabs-content__section-right
            margin-top: 45px

        @media #{$med-xs}
          padding: 30px 25px 50px

        &--active
          position: relative
          opacity: 1
          z-index: 1
          height: auto
          overflow: visible

        &--reviews
          flex-direction: column

          & .card-tabs-content__section-top, & .card-tabs-content__section-bottom
            width: 100%

          & .card-tabs-content__section-bottom
            margin-top: 60px
            width: 100%
            +flex(flex-start, center, true)

            @media #{$med-mob-normal}
              margin-top: 35px

        &.hide
          opacity: 0

        &--form
          & .card-tabs-content__section-left
            max-width: 840px

        @media #{$med-mob-normal}
          flex-direction: column

      &__btn
        width: 260px

        &:last-child
          margin-top: 20px
          box-shadow: $shadow-product-btn

        &:first-child
          margin-top: 0

      &__item--reviews &__title
        color: $color-primary

      &__section
        &-left, &-right
          width: 100%

        &-right
          max-width: 660px

        &-left
          max-width: 575px
          margin-right: 30px

          @media #{$med-lg-big-str}
            max-width: 420px

          @media #{$med-mob-normal}
            margin-right: 0
            max-width: initial!important

      &__title
        width: 100%
        max-width: 500px

        @media #{$med-mob-normal}
          font-size: 24px!important

      &__code
        margin-top: 10px
        font-family: $lato-font
        color: $color-product-code
        font-size: 22px
        display: block
        text-transform: uppercase

      p
        margin-top: 25px

        @media #{$med-mob}
          font-size: 15px

        @media #{$med-small-xs}
          font-size: 13px

    &__section
      &-sliders
        margin-top: 50px
        width: 100%

        & .products-line
          width: 100%

          &__section-head, &__section-content
            width: 100%

          &:last-child
            margin-top: 60px

        @media #{$med-mob}
          & .container
            max-width: 91vw!important
            padding-left: 0
            padding-right: 0

          //& .product-item
            & .price__number
              &:after
                left: initial

          & .btn
            padding-left: 35px
            padding-right: 35px

    &-section
      &-right
        &-params
          width: 100%
          +flex(flex-start, flex-start, true)

          &__item
            width: 100%
            margin-bottom: 30px
            border-bottom: 1px solid $silver-border-light
            padding-bottom: 10px
            +flex(space-between, flex-end, false, nowrap)

            &:last-child
              margin-bottom: 0

            &-title, &-info
              font-size: 16px
              font-family: $lato-font

              @media #{$med-mob}
                font-size: 13px

            &-title
              font-weight: 300

              &.empty
                color: red!important
                font-weight: bold!important

            &-info
              font-weight: 900

              @media #{$med-mob-normal}
                font-size: 13px

    &__content
      width: 100%

      &-head, &-footer

      &-footer
        width: 100%