.card
  &__section
    &-head, &-content
      display: block
      width: 100%

    &-content
      position: relative
      margin-top: 60px
      +flex(space-between, flex-start, false, nowrap)

      @media #{$med-mob}
        flex-direction: column
        align-items: center

  &-section
    &-left, &-right

    &-left
      margin-right: 90px
      width: 100%
      max-width: 645px

      @media #{$med-big-xlg}
        margin-right: 50px

      @media #{$med-mob}
        margin-bottom: 50px
        margin-right: 0

      &__btn
        &-down, &-up
          position: relative
          margin-bottom: 15px

          i
            transition: color .5s linear

          &.swiper-button-disabled
            i
              color: hsla(0,0%,76.9%,.5)

          @media #{$med-mob}
            margin-bottom: 10px

          i
            font-size: 50px
            display: block

            @media #{$med-mob}
              font-size: 40px

        &-down
          margin-top: 15px
          margin-bottom: initial

          @media #{$med-mob}
            margin-top: 10px

      &__images
        &-grid
          width: 100%
          height: 480px
          display: grid
          grid-template-areas: "img-grid-left img-grid-right"
          grid-template-rows: 100%
          grid-template-columns: 150px auto
          //grid-template-columns: repeat(2, auto)
          grid-gap: 15px

          //@media #{$med-mob-normal}
            //grid-template-columns: auto minmax(150px, 325px)

          @media #{$med-xs}
            //grid-template-rows: repeat(3, 65px)
            grid-template-columns: 65px auto
            height: 225px

          &-item
            width: auto
            height: 100%
            background: darken($bg-color-light, 2%)
            cursor: pointer
            object-fit: contain
            transition: opacity .3s ease
            opacity: 1
            padding: 15px

            @media #{$med-xs}
              padding: 5px

            &.hide
              opacity: 0

            &:first-child
              max-width: 150px

              @media #{$med-xs}
                max-width: 65px

            &:first-child
              grid-area: img-grid-left

            //&:nth-child(2)
            //  grid-area: img-2
            //
            //&:nth-child(3)
            //  grid-area: img-3

            &:last-child
              grid-area: img-grid-right
              max-width: 480px
              padding: 30px

              @media #{$med-lg-str}
                max-width: 425px

              @media #{$med-mob-normal}
                max-width: initial
                width: 100%

              @media #{$med-xs}
                padding: 15px
    &-right
      position: relative
      //width: 100%
      width: auto
      //max-width: 725px

      & .title
        @media #{$med-lg-str}
          font-size: 22px

      &__title
        h1
          width: 100%
          max-width: 390px
          font-size: 36px

          @media #{$med-big-xlg}
            font-size: 25px

          @media #{$med-xlg-extra-small}
            max-width: 340px

          @media #{$med-lg-str}
            max-width: 300px!important
            padding-right: 45px

        span
          margin-top: 25px
          font-family: $lato-font
          color: $color-product-code
          font-size: 22px
          display: block
          text-transform: uppercase

      &__btn
        &-like
          right: 23px
          left: initial

          i, &:after
            color: darken($silver-border-light, 30%)

      &__top .small-alert-info
        left: initial
        right: -3px

        span
          left: initial
          right: 23px

      &__btn
        margin-left: auto

        @media #{$med-lg-str}
          font-size: 12px

        @media #{$med-mob}
          padding-left: 40px
          padding-right: 40px
          display: inline-block
          margin-left: 30%

        @media #{$med-mob-small}
          font-size: 10px!important
          max-width: initial

        @media #{$med-xxs}
          padding-left: 25px
          padding-right: 25px

      & .colors-list
        overflow: visible

      &__center
        margin-top: 25px
        width: 100%
        +flex(space-between, center, false, nowrap)

        @media #{$med-lap}
          flex-direction: column
          align-items: flex-start
          justify-content: flex-start

        @media #{$med-mob}
          margin-top: 0

        &-btns
          width: 100%
          max-width: 570px
          +flex(space-between, center, false, nowrap)

          @media #{$med-lap}
            margin-top: 25px
            max-width: 350px

          @media #{$med-mob}
            position: relative
            float: left
            margin-top: 0

          @media #{$med-mob-small}
            max-width: initial!important

          @media #{$med-small-xs}
            //justify-content: flex-start
            margin-right: auto
            display: block

        & .price
          position: relative
          display: inline-block

          .price__number
            @media #{$med-lg-str}
              font-size: 32px

            @media #{$med-mob}
              &:after
                left: initial

          strike
            position: absolute
            top: -10%
            //top: 10px
            right: -55px

            @media #{$med-mob}
              right: -65px

        & .product-count-calculator
          margin-left: 40%

          @media #{$med-lap-big}
            margin-left: 10vw

          @media #{$med-lap}
            margin-left: 0
            margin-right: auto
            display: inline-block

      &__bottom
        margin-top: 35px

        &-title
          &--colors, &--description
            font-size: 22px

          &--description
            margin-top: 25px

        p
          width: 100%
          max-width: 690px
          margin-top: 20px

      &__colors
        &-list
          margin-top: 20px