.bread
  &-crumbs
    +flex(flex-start, center, false, nowrap)

    &__item
      font-family: $lato-font
      font-size: 18px
      line-height: 22px
      color: $color-bread-crumbs
      transition: color .3s linear

      &:hover
        color: $color-primary

      @media #{$med-mob}
        font-size: 12px

      @media #{$med-xs}
        font-size: 9px

    li
      padding-right: 15px
      padding-left: 15px

      @media #{$med-xs}
        padding-left: 10px
        padding-right: 10px

      &:after
        +position(r, true, 0, true, 17%)
        content: '\f2fb'
        font-family: Material-Design-Iconic-Font
        color: $color-text
        font-size: 17px

        @media #{$med-mob}
          left: 25%
          font-size: 11px

        @media #{$med-xs}
          font-size: 9px

      &:first-child
        padding-left: 0

      &:last-child
        padding-right: 0

        &:after
          display: none

      &:last-child .bread-crumbs__item
        color: $color-text

      &:last-child:hover .bread-crumbs__item
        color: $color-text

      &:nth-child(3)
        &:after
          left: 10%