+b.SECTION.about-delivery#about-delivery
    +e.container.container
        +e.section-head.bread-crumbs-head
            +b.UL.bread-crumbs
                +breadCrumbs({
                    'links': [
                        {
                            'href': '/',
                            'title': '7 Salabim'
                        },
                        {
                            'href': '/catalog.html',
                            'title': 'Каталог'
                        },
                        {
                            'href': '/complete-order.html',
                            'title': 'Оформление заказа'
                        },
                        {
                            'href': '#',
                            'title': 'О доставке'
                        }
                    ]
                })

        +b.about-delivery-content
            +e.H1.title.title О доставке

            +e.texts
                +b.P.text-block--small
                    | Товарищи! постоянное
                    +e.A(href="#") информационно-пропагандистское
                    | обеспечение нашей деятельности влечет за собой процесс внедрения и модернизации дальнейших направлений развития. Разнообразный и богатый опыт начало повседневной работы по формированию позиции способствует подготовки и реализации новых предложений. Не следует, однако забывать, что новая модель организационной деятельности позволяет оценить значение соответствующий условий активизации. Таким образом новая модель организационной деятельности требуют определения и уточнения существенных финансовых и административных условий. С другой стороны дальнейшее развитие различных форм деятельности требуют определения и уточнения системы обучения кадров, соответствует насущным потребностям.

                +b.P.text-block--small
                    | Равным образом новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании форм развития. Таким образом постоянное информационно-пропагандистское обеспечение нашей деятельности требуют от нас анализа существенных финансовых и административных условий.

                    +e.A(href="#") Идейные соображения высшего порядка

                    | , а также консультация с широким активом представляет собой интересный эксперимент проверки системы обучения кадров, соответствует насущным потребностям. С другой стороны начало повседневной работы по формированию позиции позволяет выполнять важные задания по

                    +e.A(href="#") разработке новых предложений

                    | . С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности представляет собой интересный эксперимент проверки новых предложений. Задача организации, в особенности же начало повседневной работы по формированию позиции представляет собой интересный эксперимент проверки модели развития.

            +e.A(href="#").btn.btn Перейти к каталогу