+b.complete-order-content
    +e.section-left
        +e.H2.title.title Личные данные

        +e.FORM(action="/", method="POST").form#form-complete-order
            +e.form-section-head-grid
                +formInputBox({
                    'boxes': [
                        {
                            'inputType': 'text',
                            'inputName': 'name',
                            'inputMinLength': '5',
                            'inputMaxLength': '20',
                            'inputPlaceholder': 'Имя',
                            'inputIconSrc': '/assets/img/specifications/icons/form/person-icon.svg',
                            'inputIconAlt': 'person',
                            'required': true
                        },
                        {
                            'inputType': 'tell',
                            'inputName': 'phone',
                            'inputMinLength': '5',
                            'inputMaxLength': '20',
                            'inputPlaceholder': 'Телефон',
                            'inputIconSrc': '/assets/img/specifications/icons/form/phone-icon.svg',
                            'inputIconAlt': 'phone',
                            'required': true
                        },
                        {
                            'inputType': 'text',
                            'inputName': 'last-name',
                            'inputMinLength': '5',
                            'inputMaxLength': '35',
                            'inputPlaceholder': 'Фамилия',
                            'inputIconSrc': '/assets/img/specifications/icons/form/person-icon.svg',
                            'inputIconAlt': 'person'
                        },
                        {
                            'inputType': 'email',
                            'inputName': 'email',
                            'inputMinLength': '10',
                            'inputMaxLength': '75',
                            'inputPlaceholder': 'E-mail',
                            'inputIconSrc': '/assets/img/specifications/icons/form/postcard-icon.svg',
                            'inputIconAlt': 'postcard'
                        }
                    ]
                })

            +e.form-section-head-center
                +e.H3.title.title Способы доставки

                +b.form-input-row.small
                    +e.INPUT(type="radio", name="type-delivery", value="courier")#complete-form-radio-courier

                    +e.LABEL.title.title.hide.form-input-label.js-complete-order-label(for="complete-form-radio-courier") Доставка курьером

                    +e.INPUT(type="text", name="courier-address", placeholder="Адрес", minlength="5", maxlength="50").field

                    span *

                    +e.I.icon
                        img(src="/assets/img/specifications/icons/form/courier-icon.svg", alt="courier")

                +b.form-input-row
                    +e.INPUT(type="radio", name="type-delivery", value="np", checked)#complete-form-radio-np

                    +e.LABEL.title.title.form-input-label.js-complete-order-label(for="complete-form-radio-np") На отделение Новой Почты

                    +e.INPUT(type="text", name="courier-address", placeholder="Отделение новой почьты", minlength="5", maxlength="50", required).field

                    span *

                    +e.I.icon
                        img(src="/assets/img/specifications/icons/form/courier-icon.svg", alt="courier")

                +b.form-input-row
                    +e.INPUT(type="radio", name="type-delivery", value="courier")#complete-form-radio-more

                    +e.LABEL.title.title.hide.form-input-label.js-complete-order-label(for="complete-form-radio-more") Самовывоз например

            +e.form-section-head-bottom
                +e.form-box-title
                    +e.H4.title.title Дополнительные коментарии

                    +e.SPAN.description (необязательно)

                +formInputBox({
                    'boxes': [
                        {
                            'textarea': true,
                            'inputName': 'comments',
                            'inputMinLength': '10',
                            'inputMaxLength': '250',
                            'inputPlaceholder': 'Здесь вы можете указать особенности заказа, пожелания и другое...',
                            'inputIconSrc': '/assets/img/specifications/icons/form/message-icon.svg',
                            'inputIconAlt': 'message',
                            'forForm': 'form-complete-order'
                        }
                    ]
                })


    +e.section-right
        +e.order-products
            +e.section-head
                +e.H4.title.title Ваш заказ

                +e.section-btns
                    +e.BUTTON(disabled).btn-controll-prev#js-complete-order-product-btn-prev
                        i.zmdi.zmdi-chevron-up

                    +e.BUTTON.btn-controll-next#js-complete-order-product-btn-next
                        i.zmdi.zmdi-chevron-down

            +e.products#js-complete-order-products-content
                +b.UL.complete-order-products-list#js-complete-order-products-list
                    +e.item
                        +e.section-left
                            +e.IMG(src="/assets/img/products/product-present-1.png", alt="product-1").item-img.basket-img

                            +e.item-info
                                +e.H5.item-title.title Подарочный набор PETER RABBIT

                                +e.SPAN(data-price="368").item-price.js-basket-product-price 368₴

                        +e.section-right
                            +e.SPAN.item-count.js-complete-order-product-count x3

                    +e.item
                        +e.section-left
                            +e.IMG(src="/assets/img/products/product-present-7.png", alt="product-7").item-img.basket-img

                            +e.item-info
                                +e.H5.item-title.title Фотоальбом 15х15х6

                                +e.SPAN(data-price="368").item-price.js-basket-product-price 368₴

                        +e.section-right
                            +e.SPAN.item-count.js-complete-order-product-count x1

                    +e.item
                        +e.section-left
                            +e.IMG(src="/assets/img/products/product-present-1.png", alt="product-1").item-img.basket-img

                            +e.item-info
                                +e.H5.item-title.title Подарочная коробка 50х10

                                +e.SPAN(data-price="368").item-price.js-basket-product-price 368₴

                        +e.section-right
                            +e.SPAN.item-count.js-complete-order-product-count x1

                    +e.item
                        +e.section-left
                            +e.IMG(src="/assets/img/products/product-present-5.png", alt="product-5").item-img.basket-img

                            +e.item-info
                                +e.H5.item-title.title Бумага упаковочная

                                +e.SPAN(data-price="368").item-price.js-basket-product-price 368₴

                        +e.section-right
                            +e.SPAN.item-count.js-complete-order-product-count x1

                    +e.item
                        +e.section-left
                            +e.IMG(src="/assets/img/products/product-present-2.png", alt="product-2").item-img.basket-img

                            +e.item-info
                                +e.H5.item-title.title Подарочный набор PETER RABBIT

                                +e.SPAN(data-price="368").item-price.js-basket-product-price 368₴

                        +e.section-right
                            +e.SPAN.item-count.js-complete-order-product-count x1

                    +e.item
                        +e.section-left
                            +e.IMG(src="/assets/img/products/product-present-2.png", alt="product-2").item-img.basket-img

                            +e.item-info
                                +e.H5.item-title.title Подарочный набор PETER RABBIT

                                +e.SPAN(data-price="368").item-price.js-basket-product-price 368₴

                        +e.section-right
                            +e.SPAN.item-count.js-complete-order-product-count x1

            +e.section-bottom
                +e.A(href="/catalog.html").link.link-dashed изменить заказ

        +e.order-pay
            +e.H6.title.title Способ оплаты

            +b.form-input-row
                +e.INPUT(type="radio", name="type-pay", value="pay-delivery", form="form-complete-order")#complete-form-radio-delivery

                +e.LABEL.title.title.hide.form-input-label.js-complete-order-label(for="complete-form-radio-delivery") Наложенный платеж

            +b.form-input-row
                +e.INPUT(type="radio", name="type-pay", value="pay-card", form="form-complete-order", checked)#complete-form-radio-card

                +e.LABEL.title.title.form-input-label.js-complete-order-label(for="complete-form-radio-card") Банковской картой

                +e.INPUT(type="number", name="card-number", placeholder="Номер карты", form="form-complete-order", minlength="8", maxlength="15", required).field

                span *

                +e.I.icon
                    img(src="/assets/img/specifications/icons/form/card-icon.svg", alt="card")

                +b.form-input-row--pay-grid
                    +e.item
                        +e.INPUT(type="number", name="card-month", placeholder="Месяц", form="form-complete-order", min="2019-01-01" max="2050-12-31", required).field

                        span *

                        i.zmdi.zmdi-calendar-check

                    +e.item
                        span /

                    +e.item
                        +e.INPUT(type="number", name="card-year", placeholder="Год", form="form-complete-order", minlength="4", maxlength="4", required).field

                        span *

                        i.zmdi.zmdi-calendar-check

        +e.order-confirm
            +b.complete-order-confirm-section-pay
                +e.form
                    +allSumPrices({
                        'title': 'Всего к оплате:'
                    })

                    +e.BUTTON(type="submit", form="form-complete-order").form-btn-submit.btn Завершить заказ

                    +e.SPAN.description.light-text Нажимая на кнопку “Завершить заказ”, вы подтверждаете свое согласие с

                +e.A(href="#").link.link-dashed Пользовательским соглашением