+b.SECTION.complete-order
    +e.container.container
        +b.complete-order-head
            +e.section-top.bread-crumbs-head
                +b.UL.bread-crumbs
                    +breadCrumbs({
                        'links': [
                            {
                                'href': '/',
                                'title': '7 Salabim'
                            },
                            {
                                'href': '/basket.html',
                                'title': 'Корзина'
                            },
                            {
                                'href': '#',
                                'title': 'Оформление заказа'
                            }
                        ]
                    })

            +e.section-bottom
                +e.link-prev
                    a(href="/basket.html") Вернуться в корзину

                    i.zmdi.zmdi-long-arrow-left

        include ./complete-order-content