.catalog
  &__container
    +container()

  &-content
    +flex(space-between, flex-start, false, nowrap)
    margin-top: 60px
    width: 100%
    min-height: 1000px

    @media #{$med-mob}
      margin-top: 25px
      flex-direction: column
      align-items: center
      min-height: 500px

    &__section
      &-right
        width: 100%
        height: 100%
        margin-left: 65px
        +flex(flex-start, flex-start)
        transition: min-height .5s ease, height .5s ease
        min-height: initial

        &--load
          @media #{$med-mob}
            min-height: 450px

        @media #{$med-mob}
          margin-left: 0
          flex-direction: column
          align-items: center

    &.open &__btn-mobile
      margin-bottom: 30px

    &.open .catalog-sorts
      max-height: 1000px
      opacity: 1
      overflow: visible

    &__btn
      &-mobile
        display: none

        @media #{$med-mob}
          position: relative
          display: flex
          padding-left: 20px
          padding-right: 35px
          max-width: initial
          width: initial
          align-self: flex-start
          transition: all .3s ease

          &:after
            +position(a, true, 50%, true, 86%)
            +transform(true, true, -50%, true, -50%)
            content: '\f2fb'
            font-family: Material-Design-Iconic-Font
            font-size: 21px
            color: #fff

  &-products
    &-list
      width: 100%
      +flex(flex-start, stretch)
      margin-bottom: 50px
      min-height: 1000px

      @media #{$med-mob}
        min-height: initial
        margin-top: 100px
        justify-content: center

      @media #{$med-very-xs}
        margin-top: 50px
        justify-content: flex-start!important

      li
        margin-right: 15px
        width: 100%
        max-width: 291px

        &:nth-child(4), &:nth-child(8), &:nth-child(12), &:nth-child(16), &:nth-child(20), &:nth-child(24), &:nth-child(28), &:nth-child(32), &:nth-child(36), &:nth-child(40), &:nth-child(44), &:nth-child(48), &:nth-child(52), &:nth-child(56), &:nth-child(60)
          margin-right: 0

        @media #{$med-big-xlg}
          max-width: 16vw

        @media #{$med-lap-big}
          max-width: 15.5vw

        @media #{$med-lap}
          max-width: 20vw

          &:nth-child(4), &:nth-child(8), &:nth-child(12), &:nth-child(16), &:nth-child(20), &:nth-child(24), &:nth-child(28), &:nth-child(32), &:nth-child(36), &:nth-child(40), &:nth-child(44), &:nth-child(48), &:nth-child(52), &:nth-child(56), &:nth-child(60)
            margin-right: 15px

          &:nth-child(3), &:nth-child(6), &:nth-child(9), &:nth-child(12), &:nth-child(15), &:nth-child(18), &:nth-child(21), &:nth-child(24), &:nth-child(27), &:nth-child(30), &:nth-child(33), &:nth-child(36), &:nth-child(39), &:nth-child(42), &:nth-child(45), &:nth-child(48), &:nth-child(52), &:nth-child(55), &:nth-child(58)
            margin-right: 0

        @media #{$med-lg-big-str}
          max-width: 47.3%!important

          &:nth-child(3), &:nth-child(6), &:nth-child(9), &:nth-child(12), &:nth-child(15), &:nth-child(18), &:nth-child(21), &:nth-child(24), &:nth-child(27), &:nth-child(30), &:nth-child(33), &:nth-child(36), &:nth-child(39), &:nth-child(42), &:nth-child(45), &:nth-child(48), &:nth-child(52), &:nth-child(55), &:nth-child(58)
            margin-right: 15px!important

          &:nth-child(even)
            margin-right: 0!important

    &-grid
      position: relative
      width: 100%

      //&--load
        //min-height: 1100px

        @media #{$med-mob}
          min-height: 450px

        @media #{$med-xs}
          min-height: 285px!important

      &__content
        width: 100%
        transition: max-height .5s ease, height .5s ease, opacity .5s ease
        opacity: 1
        max-height: initial

        &--load
          max-height: 0
          opacity: 0
          overflow: hidden

        //TODO: will optimization with the preloader of the basket
      &__preloader
        position: absolute
        background: #ffffff
        //height: 100%
        width: 100% //
        height: 850px //
        z-index: 20
        transition: opacity .5s ease, max-height .5s ease, z-index .5s ease
        +flex(center, center, no-wrap)
        opacity: 1
        max-height: initial

        @media #{$med-mob}
          max-height: 450px

        &.hide
          opacity: 0
          z-index: -999
          max-height: 0

        &-logo
          position: relative
          height: 175px
          width: 175px
          overflow: hidden
          padding: 10px
          animation: preloader-container .9s ease-in-out infinite alternate

          &:after
            position: absolute
            left: 0
            top: 50%
            content: ""
            z-index: 2
            height: 150px
            width: 200%
            background: #fff
            transform: rotate(45deg)
            transform-origin: center center
            animation: preloader 2.5s linear infinite
            background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 91%,rgba(255,255,255,0) 100%)

          img
            position: absolute
            top: 0
            left: 0
            z-index: 1
            height: 100%
            width: 100%

      //@media #{$med-very-xs}
      //  width: 100%

      //&__pagination
      //  +flex(center, center, false, nowrap)
      //
      //  &-btn
      //    &-prev, &-next
      //      transition: padding .3s ease
      //      font-size: 25px
      //      width: 50px
      //      line-height: 15px
      //
      //      i
      //        transition: color .3s ease
      //
      //    &-prev, &-next
      //      &:hover
      //        i
      //          color: $color-primary
      //
      //    &-prev
      //      margin-right: 10px
      //
      //      @media #{$med-mob-small}
      //        margin-right: 5px
      //
      //    &-next
      //      margin-left: 10px
      //
      //      @media #{$med-mob-small}
      //        margin-left: 5px!important
      //
      //    &-prev
      //      &:hover
      //        padding-right: 20px
      //
      //        @media #{$med-mob-small}
      //          padding-right: 6px
      //
      //    &-next
      //      &:hover
      //        padding-left: 20px
      //
      //        @media #{$med-mob-small}
      //          padding-left: 6px

      &__pagination .pagination
        margin-left: 0

  & .alert-info
    position: relative
    //z-index: 15
    z-index: 1

    &__text
      margin: 0 auto