.catalog-sorts
  width: 100%
  max-width: 235px

  @media #{$med-mob}
    transition: max-height .3s ease, opacity .3s ease
    max-height: 0
    opacity: 0
    overflow: hidden

  &-current
    padding: 20px
    border: 1px solid $silver-border-light
    box-shadow: $shadow-catalog-current-sorts

    &__content
      &-item
        position: relative
        +flex(flex-start, flex-start, true)
        margin-bottom: 15px
        padding-bottom: 15px
        border-bottom: 1px solid $silver-border-light

        span
          transition: opacity .5s ease
          opacity: 1

          &.hide
            opacity: 0

        & .title
          font-size: 18px
          margin-bottom: 10px
          display: block

        &:last-child
          margin-bottom: 0

    &__reset, &__reset-title
      color: rgba($color-text, .5)
      display: block

    &__reset
      padding-top: 15px

      &-title
        font-family: $lato-font
        font-size: 14px
        font-weight: 700
        text-transform: uppercase

        &--priсe
          span
            &:after
              content: '(грн)'

    &__btn
      i
        font-size: 20px
        transition: color .3s ease


      &:hover
        i
          color: $color-primary!important

      &--delete, &--reset
        i
          color: rgba($color-text, .5)

      &--reset
        +flex(flex-start, center, false, nowrap)
        +position(r, true, 50%, true, 0)
        +transform(true, false, 0, true, 7%)

        i
          font-size: 16px
          margin-right: 10px

      &--delete
        +position(a, true, 0, false, 0, true, 0)

.current-sorts
  &-tab
    transition: margin .3s ease
    margin-top: 45px

    @media #{$med-very-xs}
      +flex(center, center, true)

    & .title
      font-size: 22px

    &__section
      &-head
        +flex(space-between, center, false, nowrap)
        margin-bottom: 20px
        transition: margin .3s ease

        @media #{$med-very-xs}
          width: 100%

    &__colors
      &-list
      //  +flex(flex-start, flex-start, false, wrap)
      //  width: 100%
      //  max-width: 200px
      //  max-height: 500px
      //  transition: max-height .3s ease, opacity .3s ease
      //  opacity: 1
      //  overflow: hidden
      //
      //  li
      //    width: 30px
      //    height: 30px
      //    padding: 5px
      //    transition: border .3s ease
      //    border: 1px solid transparent
      //    border-radius: 10px
      //    margin-right: 10px
      //    margin-bottom: 10px
      //
      //    &:last-child
      //      margin-right: 0
      //
      //    &.active, &:hover
      //      border: 1px solid $color-text
      //
      //    &.active
      //      a
      //        cursor: default
      //
      //    &.active:hover a .small-alert-info
      //      opacity: 0!important
      //      z-index: -1!important
      //
      //    &:nth-child(5), &:nth-child(10), &:nth-child(15), &:nth-child(20), &:nth-child(25), &:nth-child(30), &:nth-child(35), &:nth-child(40)
      //      margin-right: 0
      //
      //&-item
      //  position: relative
      //  width: 18px
      //  height: 18px
      //  border-radius: 5px
      //  display: block
      //  top: -2%
      //  left: 3%
      //
      //  & .small-alert-info
      //    top: -50px
      //    left: -10px
      //
      //  &:hover .small-alert-info
      //    opacity: 1
      //    z-index: 1
      //
      //  &--default, &--white
      //    position: relative
      //
      //  &--default &-border, &--white &-border
      //    position: absolute
      //    height: 100%
      //    width: 100%
      //    border: 1px solid rgba($color-text, .5)
      //    border-radius: 5px
      //
      //  &--default &-border
      //    +flex(center, center)
      //    z-index: 1
      //
      //    i
      //      position: relative
      //
      //      &:before, &:after
      //        position: absolute
      //        content: ''
      //        +position(r, true, 50%)
      //        +transform(false, true, -50%)
      //        width: 26px
      //        height: 1px
      //        background: red
      //        transform-origin: center center
      //        transform: rotate(45deg)
      //        z-index: 2
      //        display: block
      //
      //      &:after
      //        transform: rotate(-45deg)

    &__form
      transition: max-height .3s ease, opacity .3s ease
      max-height: 500px
      overflow: hidden
      opacity: 1

      &--price
        transition: max-height .3s ease, opacity .3s ease
        max-height: 230px
        opacity: 1

      &-price
        width: 100%
        max-width: 210px

        & .irs .irs
          height: 0

        & .irs.irs--big
          margin-bottom: 15px
          height: 30px

        & .irs-from, & .irs-min, & .irs-max, & .irs-to
          display: none!important

        & .irs-line
          background: $background-color-input-range
          height: 10px
          border: 1px solid $background-color-input-range
          top: 10px

        & .irs-bar
          background: $background-color-input-range-selected-distance
          height: 10px
          border: 1px solid $background-color-input-range-selected-distance
          box-shadow: none
          top: 10px

        & .irs-handle
          background: $color-text
          height: 20px
          width: 20px
          border: 1px solid $color-text
          box-shadow: none
          cursor: pointer
          top: 5px
          transition: background-color .3s ease, border .3s ease

        & .irs-handle.state_hover
          background: $color-primary
          border: 1px solid $color-primary

        & .irs-handle:hover, & .irs-handle:focus
          background: $color-primary
          border: 1px solid $color-primary

        &-inputs
          position: relative
          +flex(flex-start, center, false, nowrap)

          input
            @extend %input-style
            width: 100%
            max-width: 100px
            border: 1px solid darken(#ccc, 10%)
            padding: 10px
            background: $background-color-select-light
            color: darken(#ccc, 10%)
            transition: background-color .3s ease, color .3s ease
            text-align: center
            margin-right: 15px

            &:focus
              color: $color-text

            &:last-child
              margin-right: 0
            
            &:focus
              background: #fff
          span
            +position(a, true, 50%, true, 50%)
            +transform(true, true, -50%, true, -50%)
            width: 8px
            height: 1px
            background: darken(#ccc, 10%)

    &__sex
      &-list
        +flex(flex-start, flex-start, false, wrap)
        transition: max-height .3s ease, opacity .3s ease
        opacity: 1
        max-height: 150px

        @media #{$med-very-xs}
          flex-direction: column

        &-item
          &:first-child
            margin-right: 25px

            @media #{$med-very-xs}
              margin-right: 0

          &:last-child
            @media #{$med-very-xs}
              margin-bottom: 0

          @media #{$med-very-xs}
            margin-bottom: 10px

          &-title
            font-size: 17px!important

            @media #{$med-mob}
              font-size: 15px!important

          input
            &[type="radio"]
              display: none

          label
            &:after
              +transform(true, true, 50%, true, 30%)

        &-item:not(:last-child)
          margin-bottom: 15px

    &[data-hidden="true"]
      margin-top: 20px

    &[data-hidden="true"] &__section-head
      margin-bottom: 0

    &[data-hidden="false"], &[data-hidden="false"] &__form, &[data-hidden="false"] &__colors-list, &[data-hidden="false"] &__sex-list
      overflow: visible

    &[data-hidden="true"] &__form--price, &[data-hidden="true"] &__form, &[data-hidden="true"] &__colors-list, &[data-hidden="true"] &__sex-list
      max-height: 0
      opacity: 0

    &__btn
      transition: transform .3s ease
      transform-origin: center center

      i
        transition: color .3s ease

      &:hover
        i
          color: $color-primary

      &--arrow
        i
          color: rgba($color-text, .5)

    &[data-hidden="true"] &__btn
      transform: scale(-1)