.catalog
  &-head
    +flex(flex-start, flex-start, true)
    width: 100%

    @media #{$med-mob}
      margin-top: 100px

    @media #{$med-small-xs}
      margin-top: 65px

    &__section
      &-top

      &-bottom
        +flex(space-between, center)
        margin-top: 30px
        width: 100%
        padding: 15px 0
        border-top: 1px solid $silver-border-light
        border-bottom: 1px solid $silver-border-light

        @media #{$med-mob}
          flex-direction: column
          margin-top: 15px

      &-left, &-right
        +flex(flex-start, center)

        @media #{$med-mob}
          width: 100%


      &-left, &-right
        span
          color: $color-light

      &-left
        @media #{$med-mob}
          padding-bottom: 15px
          border-bottom: 1px solid $silver-border-light

        & .pagination
          @media #{$med-mob-small}
            margin-left: 15px

        & .pagination__item
          margin-right: 20px!important

        & .pagination li:last-child a
          margin-right: 0!important

        @media #{$med-mob-small}
          & .pagination__item:last-child
            margin-right: 15px!important

      &-right
        form
          margin-left: 15px

        @media #{$med-mob}
          padding-top: 20px

        @media #{$med-small-xs}
          font-size: 13px

        @media #{$med-xxs}
          span
            font-size: 11px

    &__btn
      &-reset
        margin-left: 20px

        img
          transition: transform .3s linear
          transform-origin: center center
          height: 18px
          width: 18px

        &:hover
          img
            transform: rotate(180deg)

        @media #{$med-small-xs}
          margin-left: 5px


    &__form
      &-sort
        z-index: 25

        @media #{$med-normal-xs}
          width: 160px

          & .selectLabel
            width: 145px
