&--similar
  padding: 35px 30px

  @media #{$med-small-xs}
    padding-left: 8px!important
    padding-right: 8px!important
    padding-bottom: 15px

  & .product-item__img
    //object-fit: cover

    @media #{$med-lg-big-str}
      max-width: 150px

    @media #{$med-very-xs}
      max-width: 85px!important
      height: 140px

    @media #{$med-small-xs}
      width: 58px!important
      height: 58px!important

  & .product-item__title
    @media #{$med-very-xs}
      max-width: 100%
      font-size: 12px
      margin-bottom: 15px

    @media #{$med-small-xs}
      font-size: 9px!important
      margin-bottom: 10px

&--similar .price
  @media #{$med-mob}
    margin-top: 0
    position: relative
    left: 65%
    transform: translateX(-50%)

    strike
      position: relative
      right: -15px
      top: -35px!important

      @media #{$med-mob}
        font-size: 12px
        right: -25px

      @media #{$med-very-xs}
        top: -20px!important
        font-size: 10px!important
        right: -15px!important

    &__number
      @media #{$med-very-xs}
        font-size: 19px

        &:after
          position: relative
          //left: -17px
          left: 5%
          //bottom: 1px
          bottom: 0
          font-size: 15px

&--similar .product-item__btn-buy
  padding-left: 35px!important
  padding-right: 35px!important
  font-size: 13px!important

  @media #{$med-mob}
    padding-left: 25px
    padding-right: 25px

  @media #{$med-small-xs}
    width: 90%
    font-size: 11px!important
    padding: 10px 15px!important
    margin-top: 15px