.article
  &__link
    &-prev
      margin-top: 35px
      +flex(flex-end, center)
      flex-direction: row-reverse

      a, i
        color: $color-bread-crumbs

      a
        font-family: $lato-font
        font-size: 15px
        font-weight: bold
        text-transform: uppercase

        @media #{$med-xlg-small}
          font-size: 13px

      i
        transition: color .3s ease
        font-size: 18px
        margin-right: 10px

      a
        &:hover
          & + i
            color: $color-primary

  &__section
    &-head
      display: block
      width: 100%
      //padding: 30px 0 35px
      //border-bottom: 1px solid $silver-border-light
      //
      //@media #{$med-mob}
      //  padding: 20px 0