.article
  &-content
    &__section
      &-top
        +flex(flex-start, center, false, nowrap)
        margin-top: 35px

        @media #{$med-mob}
          flex-direction: column

        &-img
          height: 345px
          width: 100%
          max-width: 460px

          img
            width: 100%
            height: 100%
            object-fit: cover
            box-shadow: $shadow-article

        &-info
          margin-left: 100px

          @media #{$med-mob}
            margin-left: 0
            margin-top: 35px
            width: 100%
            max-width: 500px

          &-details
            margin-top: 35px
            +flex(flex-start, center, false, nowrap)

            &-date, &-reviews
              +flex(center, center, false, nowrap)

            i
              height: 20px
              width: 20px
              display: block
              margin-right: 15px

            span
              font-family: $lato-font
              font-size: 17px
              font-weight: normal

            &-reviews
              margin-left: 35px

      &-text
        margin-top: 65px

        p
          width: 100%
          font-family: $lato-font
          font-size: 18px
          line-height: 250%
          margin-bottom: 50px

          a
            color: $color-primary

          @media #{$med-mob}
            font-size: 16px
            line-height: 200%

          @media #{$med-mob-small}
            font-size: 14px
            margin-bottom: 35px

    &__description
      max-width: 870px
      margin-top: 20px
      display: block