.footer
  margin-top: 65px
  padding: 45px 0 40px
  background: $color-text

  @media #{$med-mob}
    padding-top: 35px
    padding-bottom: 20px

  &__container
    +container()

  &__section
    &-top, &-bottom
      width: 100%
      +flex(space-between, flex-start, false, nowrap)

    &-bottom
      padding-top: 30px
      border-top: 1px solid rgba(#fff, .5)
      margin-top: 80px

      @media #{$med-mob}
        padding-top: 20px
        margin-top: 40px
        flex-direction: column-reverse
        align-items: center

    &-top
      @media #{$med-mob}
        flex-direction: column
        align-items: center

  &-bottom
      &-list
        +flex(center, center, false, nowrap)

        li
          position: relative
          padding-left: 15px
          padding-right: 15px
          border-right: 1px solid rgba(#fff, .7)

          &:first-child
            padding-left: 0

          &:last-child
            padding-right: 0
            border-right: none

          @media #{$med-small-xs}
            padding-right: 0

          @media (max-width: $media-between-xg)
            a
              font-size: 14px

          @media #{$med-lg-str}
            a
              font-size: 13px

          @media #{$med-mob}
            a
              width: 100%
              //max-width: 140px
              max-width: 110px
              display: block
              text-align: center

          @media #{$med-small-xs}
            a
              font-size: 11px!important

          //&:last-child
          //  margin-right: 0

          //&:last-child
          //  &:after
          //    display: none

        &:first-child
          @media #{$med-mob}
            margin-top: 20px
            flex-direction: column-reverse
            align-items: center

            li
              &:first-child
                margin-right: 0
                margin-top: 8px

                &:after
                  display: none

        &:last-child &__item
          @media #{$med-mob}
            line-height: 17px

        &:last-child li:first-child
          @media #{$med-small-xs}
            padding-right: 15px

        &:first-child li
          @media #{$med-mob}
            border-right: none
            padding-left: 0
            padding-right: 0


        &__item
          color: #fff
          opacity: .7
          transition: opacity .3s linear

          @media #{$med-lg-str}
            font-size: 12px


          &:hover
            opacity: 1

          strong
            font-weight: 700
            margin-left: 5px

          a
            font-family: $lato-font
            font-weight: 500
            font-size: 18px
            opacity: .7
            color: #fff

        &:first-child &__item:hover
          opacity: .7

        &:last-child
          li
            &:after
              left: 106%

  &-menu
    margin-top: 80px
    +flex(flex-start, flex-start, false, nowrap)
    width: 100%
    max-width: 600px

    @media #{$med-xs}
      width: 100%
      display: flex
      align-items: center
      flex-wrap: nowrap
      max-width: initial!important
      margin-bottom: 20px

    &__section
      &-left, &-right
        +flex(flex-start, center, false, nowrap)

        @media #{$med-xs}
          width: 100%
          //max-width: 230px
          justify-content: initial
          align-items: stretch
          overflow: hidden

          & .footer-menu__sublist
            width: 50%

          & .footer-menu__sublist:first-child
            position: relative
            //margin-right: 40px!important

            &:after
              content: ''
              +position(a, false, 0, true, 46vw)
              +transform(false, true, -50%)
              height: 100%
              width: 1px
              background: rgba(#fff, .7)

      &-left
        @media #{$med-xs}
          & .footer-menu__sublist
            margin-bottom: 40px

            &:first-child
              position: relative
              //margin-right: 40px!important

              &:after
                //left: 205.5%
                height: 145%

        @media #{$med-xxs}
          & .footer-menu__sublist
            &:first-child
              &:after
                //left: 202.5%


      &-right
        & .footer-menu__sublist:last-child
          margin-right: 0

        @media #{$med-xs}
          & .footer-menu__sublist:first-child
            margin-bottom: 0


    @media #{$med-mob}
      margin-top: 0

    @media #{$med-xs}
      flex-wrap: wrap
      max-width: 185px
      justify-content: space-around

    &:last-child, &:nth-child(10), &:nth-child(11)
      margin-right: 0

    a
      margin-bottom: 20px
      display: block
      text-align: left
      font-family: $lato-font
      font-size: 18px
      line-height: 100%
      opacity: .7
      color: #fff
      transition: opacity .3s linear

      @media (max-width: $media-between-xg)
        font-size: 14px

      @media #{$med-lg-str}
        font-size: 12px

      @media #{$med-xs}
        text-align: center

      &:hover
        opacity: 1

    &__sublist
      margin-right: 55px

      @media (max-width: $exclusive-xlg-small)
        margin-right: 30px

      @media #{$med-xs}
        margin-right: 0!important
        display: flex
        flex-direction: column

        &:first-child
          margin-bottom: 30px

        &:nth-child(2)
          margin-bottom: 15px

        &:nth-child(3), &:last-child
          margin-bottom: 0

        li
          &:last-child
            a
              margin-bottom: 0

  nav
    @media #{$med-xs}
      width: 100%

  &-reseived
    &-info
      position: relative
      width: 100%
      max-width: 300px
      margin-top: 85px

      @media (max-width: $media-between-xg)
        max-width: 270px

      @media #{$med-mob}
        margin-top: 35px

      &__top, &__bottom
        position: absolute
        font-weight: 500
        font-size: 14px
        color: rgba(#fff, .7)
        background: $color-text
        padding-right: 5px
        padding-left: 5px
        display: block
        z-index: 2

      &__top
        top: -6%
        left: 25px

      &__content
        padding: 20px 60px 45px
        border: 1px solid #fff
        opacity: .7
        +flex(center, center, false, nowrap)

        img
          margin-right: 45px

          &:last-child
            margin-right: 0

      &__bottom
        bottom: -25%
        left: 50%
        transform: translateX(-50%)
        width: 100%
        max-width: 235px
        +flex(center, center)

        span
          background: rgba(#fff, .3)
          padding: 10px 20px
          border-radius: 30px
          color: #fff
          opacity: .7

          @media #{$med-lg-str}
            font-size: 12px

  &-questions
    +flex(flex-start, flex-end, true)

    @media #{$med-mob}
      justify-content: center
      align-items: center
      margin-top: 70px

    &__title
      color: #fff
      margin-top: 25px
      opacity: .7
      font-family: $lato-font

      @media (max-width: $exclusive-xlg-small)
        font-size: 25px

      @media #{$med-lg-str}
        font-size: 20px!important

    &__description
      color: #fff
      opacity: .7
      font-family: $lato-font
      font-size: 15px
      margin-top: 15px

      @media #{$med-lg-str}
        font-size: 13px

    &__btn
      margin-top: 25px
      padding: 13px 55px
      border: 1px solid #fff
      opacity: .7
      transition: all .3s linear
      text-align: center
      font-size: 16px
      color: #fff

      @media #{$med-lg-str}
        font-size: 12px

      &:hover
        opacity: 1
        background: #fff
        color: $color-text

    &__socials
      &-list
        +flex(center, center)

        &-item
          padding: 5px
          margin-right: 8px
          font-size: 25px
          opacity: .7
          transition: opacity .3s linear

          @media (max-width: $exclusive-xlg-small)
            font-size: 20px

          &:hover
            opacity: 1

          i
            color: #fff