.header
  &__container
    +container()

  nav
    position: relative
    z-index: 15
    height: 54px
    background: $bg-color-light
    border: 1px solid $silver-border-light

    @media (max-width: $media-mobile)
      overflow: visible
      border-left: none

  &__section
    &-top

    &-bottom
      position: relative
      top: -50px
      +container()
      width: 100%

      @media (max-width: $media-mobile)
        max-width: 95vw
        top: 0

      &--filter
        &-enabled
          top: -50px

          @media #{$med-mob}
            top: -20px

  &-section
    &-top
      padding: 30px 0

      &__container
        position: relative
        overflow: hidden

      @media (max-width: $media-mobile)
        padding-top: 15px
        padding-bottom: 0

      &__logo
        @media (max-width: $media-mobile)
          margin-bottom: 15px

      &__container
        +container()

        @media (max-width: $media-mobile)
          justify-content: center
          align-items: center
          flex-direction: column
          width: 100%

      &__nav
        +flex(center, center, false, nowrap)
        overflow: hidden

        @media (max-width: $media-mobile)
          justify-content: space-between
          width: 90vw
          margin: 0 auto
          margin-top: 5px

        &-items
          +flex(center, center, false, nowrap)

        &-item
          margin-right: 58px
          background: #ffff
          transition: top .3s ease

          &:first-child, &:nth-child(2)
            position: relative
            top: 0
            opacity: 1

          @media (max-width: $media-xs)
            margin-right: 4px

          &:last-child, &:nth-child(3)
            margin-right: 0

          &:first-child
            +flex(center, center)

            &:hover a
              color: $color-text

            i
              margin-right: 10px

            a
              transition: color .3s ease
              color: $color-primary

              @media (max-width: $media-xs)
                font-size: 14px

            &:active a
              color: $color-primary

          &--language
            +flex(center, center, false, nowrap)

            @media (max-width: $media-mobile)
              display: none
              display: none

          form
            position: relative
            +flex(center, center)
            transition: width .3s ease
            width: 100%
            max-width: 55px
            height: 45px
            overflow: hidden
            +flex(flex-start, center)

            @media (max-width: $media-mobile)
              display: none

            input
              opacity: 0
              font-size: 16px
              padding: 0
              border: 1px solid transparent
              border-radius: 5px
              max-height: 0
              width: 1005px
              max-width: 420px
              transition: padding .3s ease-out
              color: $color-input
              font-weight: 500
              font-family: $lato-font

            button
              +position(a, true, 0, false, true, 0)
              height: 100%
              overflow: hidden
              background: #fff


              i
                height: 100%
                display: flex
                align-items: center
                justify-content: center

                img
                  width: 26px
                  height: 25px

          &-form
            &-input
              +position(r, true, 0, true, 0)
              margin-right: 60px
              transition: max-height .3s ease
              max-height: 0

              i
                position: absolute
                top: 50%
                transform: translateY(-50%)
                right: 15px
                cursor: pointer
                font-size: 0
                color: $color-input
                transition: color .3s linear, font-size .3s ease
                //display: none

                &:hover
                  color: $color-primary

        &--form-active &-item:first-child
          //display: none

        &--form-active &-item:first-child, &--form-active &-item:nth-child(2)
          top: -200%
          position: absolute
          opacity: 0

        &--form-active &-item--language
          //display: none

        &--form-active &-item-form-input
          max-height: 100px

        &--form-active form
          max-width: 750px
          
        &--form-active input
          //display: block!important
          opacity: 1!important
          max-height: 100px!important
          //animation: slideDown .3s linear alternate
          padding: 10px 35px 10px 15px!important
          border: 1px solid $silver-border-light!important

        &--form-active i
          font-size: 17px

        &-language
          &-item
            margin-right: 7px
            padding: 3px 7px
            font-size: 16px
            color: #000
            +flex(center, center)
            transition: background .5s ease, color .5s ease
            border-radius: 2px
            background: transparent
            line-height: 20px

            &:last-child
              margin-right: 0

            &--active, &:hover
              background: $color-primary
              color: #fff

          &--items
            li
              margin-right: 58px

              &:last-child
                margin-right: 0

  &__nav
    +flex(center, center, false, nowrap)

    &-container
      position: relative
      z-index: 2

      @media (max-width: $media-mobile)
        padding-right: 0!important
        padding-left: 0!important

      //&:before
      //  position: absolute
      //  content: ''
      //  top: 0
      //  right: 0
      //  height: 99%
      //  width: 50px
      //  z-index: 2
      //  display: none
      //
      //  @media (max-width: $media-mobile)
      //    display: block

  &-menu
    position: relative
    height: 53px
    +flex(center, center, false, nowrap)

    @media #{$med-mob}
      justify-content: flex-start

    &.swiper-wrapper
      @media #{$med-mob}
        position: relative
        //left: 8vw
        //padding-right: 25px
        padding-left: 5vw
        //width: 100vw

      //@media #{$med-mob-normal}
        left: 6.5vw

      //@media #{$med-xs}
        left: 4.5vw!important

      //@media #{$med-small-xs}
        left: 8.5vw!important

      //@media #{$med-xxs}
      //  left: 10.5vw!important

      li
        &:last-child
          @media #{$med-small-xs}
            padding-right: 30px

    &__item
      position: relative
      height: 100%
      margin-right: 90px

      @media (max-width: $exclusive-xlg)
        margin-right: 65px

      @media (max-width: $exclusive-xlg)
        font-size: 14px

      @media (max-width: $media-mobile)
        font-size: 10.3px!important

      @media #{$med-xxs}
        font-size: 9px!important

      &.swiper-slide
        width: auto

      &:before
        position: absolute
        content: ''
        bottom: 0
        left: 0
        display: block
        height: 5px
        width: 100%
        background: $color-primary
        opacity: 0
        transition: opacity .3s linear

        @media (max-width: $media-mobile)
          display: none

      a
        height: 100%
        +flex(center, center)
        color: $color-text

        @media #{$med-mob}
          justify-content: flex-start

      &:hover:before, &--active:before
          opacity: 1

      &:last-child
        margin-right: 0

      &--dropdown
        position: relative

        &:before
          width: 150%

          @media (max-width: $media-mobile)
            display: none

        &:after
          position: absolute
          content: '\f2f9'
          top: 51%
          right: -25px
          transform: translateY(-50%)
          color: $color-text
          font-size: 24px
          font-family: Material-Design-Iconic-Font

          @media #{$med-mob}
            right: initial
            left: 95%

          //@media #{$med-xs}
          //  right: -12px

          //@media (max-width: $media-xxs)
          //  right: -10px

      &--dropdown .product-item
        transition: opacity 2s ease
        opacity: 0

      &-submenu
        @media (max-width: $media-mobile)
          display: none

        &-list
          position: absolute
          top: 100%
          left: 0
          z-index: -10
          opacity: 0
          transition: opacity 1s ease, max-height .5s ease
          +flex(center, center, false, nowrap)
          //display: none
          height: 455px
          box-shadow: $shadow-submenu
          max-height: 0
          overflow: hidden

          @media #{$med-mob}
            overflow: initial
            display: none
            height: auto

          &:hover, &:focus
            z-index: 15
            opacity: 1
            //display: flex

        &-product
          height: 100%

      &--dropdown:hover &-submenu-list
        z-index: 15
        opacity: 1
        max-height: 500px

      &--dropdown:hover .product-item
        opacity: 1

    &-btn
      display: none
      background: $bg-color-light
      transition: opacity .3s ease, z-index .3s ease, background .5s linear

      &.swiper-button-disabled
        z-index: -1
        opacity: 0
        background: none

      @media (max-width: $media-mobile)
        position: absolute
        top: 0
        padding-left: 10px
        width: 30px
        right: 0
        z-index: 5
        height: 99%
        +flex(center, center)
        display: block
        background: #f8f8f8

        i
          font-size: 18px
          color: $silver-border-light

      //@media #{$med-xs}
      //  right: -1vw

  &__section
    &-top
      &-left
        position: relative
        height: 100%
        z-index: 20

        //&:after
        //  position: absolute
        //  top: 0
        //  right: 0
        //  content: ''
        //  height: 99%
        //  width: 40px
        //  background: $bg-color-light
        //  z-index: 2
        //  display: none
        //
        //  @media (max-width: $media-mobile)
        //    display: block
        //    right: -3vw

        &.swiper-container
          //margin: 0 auto
          margin-left: 0
          margin-right: 0
          overflow: visible

        @media (max-width: $media-mobile)
          //left: -14.5vw
          margin-right: initial
          //width: 90vw!important
          //margin-left: 5vw!important
          overflow: hidden!important

        @media (max-width: $media-xs)
          //left: -9.5vw

        @media (max-width: $media-xs)
          //left: -11.5vw

        @media (max-width: $media-xxs)
          //left: -7.5vw!important

      &-right
        height: 100%

        &-list
          +flex(center, center, false, nowrap)
          padding: 13px 0
          height: 54px

          @media (max-width: $media-mobile)
            display: none

          &-item
            margin-right: 35px
            transition: top .3s ease

            a
              position: relative
              +flex(center, center)

              i
                font-size: 23px
                position: absolute
                top: -3px
                transition: opacity .3s linear
                opacity: 1
                color: $color-text

                & + span
                  right: -15px

              span
                position: relative
                top: 0
                right: 15px
                display: block
                font-size: 12px
                color: #fff
                background: $color-primary
                border-radius: 2px
                padding: 2px 4px

            &--selected
              a
                cursor: default

            &.checked-position-top a
              top: -6px

            &:first-child
              top: 1px

            &:first-child a i:nth-child(2)
              opacity: 0

            &:first-child:hover a i:nth-child(2)
              opacity: 1

            &:last-child
              margin-right: 0

  &__slider
    position: relative

    &-front
      position: relative
      z-index: 5

      @media (max-width: $media-mobile)
        & div:last-child
          +flex(space-between, center, false, nowrap)
          position: relative
          //width: 90vw

    &-content
      &-list
        &-item
          &-price
            & .price
              position: relative

            strike
              //position: relative!important
              //top: -25px!important
              //right: -5%!important
              top: -5%!important
              right: -35%!important

    &-btn
      &-prev, &-next
        position: absolute
        top: 36%
        left: -90px
        transform: translateY(-50%)
        z-index: 10
        background: transparent
        +flex(center, center)

        @media (max-width: $media-mobile)
          display: none!important

      &-prev i, &-next i
        position: absolute

      &-next
        left: initial
        right: -90px

        @media (max-width: $media-xlg)
          right: -70px

        i
          top: 49%
          left: initial
          right: 3px

      &-prev
        i
          top: 49%
          left: 15px

        @media (max-width: $media-xlg)
          left: -70px

    &-container
      position: relative
      +container()
      +flex(flex-start, flex-start)

    &-content
      position: relative
      z-index: 2
      width: 100%
      +flex(space-between, center)

      &-list
        overflow: hidden
        +flex(center, center, false, nowrap)

        & .slick-track
          display: flex
          flex-wrap: nowrap

        &-item
          position: relative
          padding: 98px 0 145px
          width: 100vw
          height: 100%
          +flex(flex-start, flex-start, true)

          @media (max-width: $media-mobile)
            flex-direction: column
            padding-bottom: 60px
            padding-top: 0
            //width: 480px!important

          & .title
            width: 100%
            max-width: 540px

            @media (max-width: $media-lg)
              max-width: 450px

            @media (max-width: $media-mobile)
              font-size: 24px
              max-width: 270px!important
              margin-top: 25px


          p
            margin-top: 10px
            font-family: $lato-font-light
            color: $color-text
            opacity: .7
            font-size: 16px
            width: 100%
            max-width: 600px
            line-height: 150%
            font-weight: 300

            @media (max-width: $exclusive-xlg-small)
              max-width: 430px

            @media (max-width: $media-mobile)
              font-size: 14px
              max-width: 300px!important


          &-price
            position: relative
            margin-top: 25px
            color: $color-text-dark
            display: inline-block
            //width: 100%
            //max-width: calc(76px + 30px)

            &-title
              opacity: .7
              margin-bottom: 10px
            
            &-number
              margin-top: 10px
              font-size: 36px
              font-family: $lato-font
              color: lighten($color-primary, 10%)
              display: inline-block

              span
                font-size: 23px
                color: $color-text
                margin-left: 3px

            strike
              position: absolute
              top: -10%
              //top: 17px
              right: 0
              //color: $color-text-dark
              //opacity: .5

            & + strike
              color: $color-text-dark
              opacity: .5

          &-btn
            margin-top: 28px
            +flex(center, center)
            background: $color-primary
            box-shadow: $shadow-product-btn
            width: 100%
            max-width: 225px

            @media (max-width: $media-mobile)
              margin-top: 30px

          &-socials
            +flex(flex-start, center)
            margin-top: 90px
            margin-left: 5px

            @media (max-width: $media-mobile)
              margin-top: 26px

            li
              margin-right: 15px
              height: 36px
              width: 36px
              border: 1px solid $color-text-dark
              border-radius: 50%
              transition: background .3s linear, opacity .3s linear

              @media (max-width: $media-mobile)
                height: 26px
                width: 26px

              @media #{$med-small-xs}
                margin-right: 10px

              a
                height: 100%
                width: 100%
                +flex(center, center)

                i
                  font-size: 18px
                  transition: color .3s linear
                  color: $color-text-dark

                  @media (max-width: $media-mobile)
                    font-size: 13px


              &:hover, &:active
                background: $color-text-dark

                i
                  color: #fff

              &:active
                opacity: .7

              &:last-child
                margin-right: 0


      &-mobile
        &-controlers
          display: none

          @media (max-width: $media-mobile)
            position: absolute
            top: 15%
            left: -23vw
            +flex(center, center)
            width: 100%
            max-width: 80vw
            z-index: 25

            & .header__slider-btn-prev, & .header__slider-btn-next
              position: initial
              display: block!important

            & .header__slider-btn-prev
              margin-right: 10px

    &-images
      position: absolute
      top: 0
      //left: 40vw
      width: 100%
      //max-width: 55vw
      left: 30vw
      max-width: 65vw
      height: 100%
      z-index: 1
      object-fit: cover
      overflow: hidden

      @media (max-width: $media-mega-xlg)
        left: 35vw

      @media (max-width: $media-mobile)
        position: initial
        top: initial
        left: initial
        background-position: 60% center!important
        max-width: 60vw
        height: 185px
        margin-left: 40vw

      li
        position: absolute
        top: 0
        right: 0
        width: 100%
        height: 100%

  &-btns
    &-list
      position: relative
      padding: 0 100px
      height: 155px
      width: 100%
      border: 1px solid $silver-border-light
      z-index: 2
      background: #fff
      box-shadow: $shadow-dark
      +flex(space-around, center)

      @media (max-width: $media-between-xg)
        padding-left: 45px
        padding-right: 45px

      @media (max-width: $media-mobile)
        justify-content: center
        align-items: center
        height: auto
        padding: 30px 40px!important

      &__item
        position: relative
        height: 100%

        @media (max-width: $media-mobile)
          height: auto
          text-align: center
          width: 100%
          max-width: 140px
          margin-bottom: 40px

          &:nth-child(5), &:last-child
            margin-bottom: 0

        @media (max-width: $media-small-xs)
          &:nth-child(5)
            margin-bottom: 40px!important

        @media (max-width: $media-mobile) and (orientation: landscape)
          &:nth-child(5), &:last-child
            margin-bottom: 0

        @media (max-width: 737px) and (orientation: landscape)
          &:nth-child(4)
            margin-bottom: 0

        @media (max-width: 591px)
          &:nth-child(4)
            margin-bottom: 40px

        &:before
          position: absolute
          content: ''
          bottom: 0
          left: 0
          display: block
          height: 5px
          width: 100%
          background: $color-primary
          opacity: 0
          transition: opacity .3s linear

          @media (max-width: $media-mobile)
            display: none

        a
          height: 100%
          +flex(center, center)
          flex-direction: column-reverse
          color: $color-text

          @media (max-width: $exclusive-xlg)
            font-size: 14px

          i
            margin-bottom: 20px

        &:last-child
          margin-right: 0

        &:hover:before
          opacity: 1