+b.catalog-products-grid
    +e.content
        +b.UL.catalog-products-list
            +product({
                'products': [
                    {
                        'product_id': '1',
                        'like': true,
                        'imgSrc': '/assets/img/products/product-present-2.png',
                        'alt': 'product-1',
                        'stock': '30',
                        'price': ['145', '450'],
                        'title': 'Подарочный набор',
                        'brand': 'PETER RABBIT',
                        'code': '#CG1249',
                        'modifier': 'product-item--catalog',
                        'btnBuy': 'В корзину'
                    },
                    {
                        'product_id': '2',
                        'like': true,
                        'imgSrc': '/assets/img/products/product-present-3.png',
                        'alt': 'product-1',
                        'stock': '30',
                        'price': ['233', '450'],
                        'title': 'Подарочный набор',
                        'brand': 'PETER RABBIT',
                        'code': '#CG1249',
                        'modifier': 'product-item--catalog',
                        'btnBuy': 'В корзину'
                    },
                    {
                        'product_id': '3',
                        'like': true,
                        'imgSrc': '/assets/img/products/product-present-1.png',
                        'alt': 'product-1',
                        'stock': '30',
                        'price': ['367', '450'],
                        'title': 'Подарочный набор',
                        'brand': 'PETER RABBIT',
                        'code': '#CG1249',
                        'modifier': 'product-item--catalog',
                        'btnBuy': 'В корзину'
                    },
                    {
                        'product_id': '4',
                        'like': true,
                        'imgSrc': '/assets/img/products/product-present-5.png',
                        'alt': 'product-1',
                        'stock': '30',
                        'price': ['152', '450'],
                        'title': 'Подарочный набор',
                        'brand': 'PETER RABBIT',
                        'code': '#CG1249',
                        'modifier': 'product-item--catalog',
                        'btnBuy': 'В корзину'
                    },
                    {
                        'product_id': '5',
                        'like': true,
                        'imgSrc': '/assets/img/products/product-present-4.png',
                        'alt': 'product-1',
                        'stock': '30',
                        'price': ['543', '890'],
                        'title': 'Подарочный набор',
                        'brand': 'PETER RABBIT',
                        'code': '#CG1249',
                        'modifier': 'product-item--catalog',
                        'btnBuy': 'В корзину'
                    },
                    {
                        'product_id': '6',
                        'like': true,
                        'imgSrc': '/assets/img/products/product-present-3.png',
                        'alt': 'product-1',
                        'stock': '30',
                        'price': ['475', '490'],
                        'title': 'Подарочный набор',
                        'brand': 'PETER RABBIT',
                        'code': '#CG1249',
                        'modifier': 'product-item--catalog',
                        'btnBuy': 'В корзину'
                    },
                    {
                        'product_id': '7',
                        'like': true,
                        'imgSrc': '/assets/img/products/product-present-1.png',
                        'alt': 'product-1',
                        'price': ['356', '450'],
                        'title': 'Подарочный набор',
                        'brand': 'PETER RABBIT',
                        'code': '#CG1249',
                        'modifier': 'product-item--catalog',
                        'btnBuy': 'В корзину'
                    },
                    {
                        'product_id': '8',
                        'like': true,
                        'imgSrc': '/assets/img/products/product-present-7.png',
                        'alt': 'product-1',
                        'price': ['430', '450'],
                        'title': 'Подарочный набор',
                        'brand': 'PETER RABBIT',
                        'code': '#CG1249',
                        'modifier': 'product-item--catalog',
                        'btnBuy': 'В корзину'
                    },
                    {
                        'product_id': '9',
                        'like': true,
                        'imgSrc': '/assets/img/products/product-present-4.png',
                        'alt': 'product-1',
                        'new': true,
                        'price': ['380', '450'],
                        'title': 'Подарочный набор',
                        'brand': 'PETER RABBIT',
                        'code': '#CG1249',
                        'modifier': 'product-item--catalog',
                        'btnBuy': 'В корзину'
                    },
                    {
                        'product_id': '10',
                        'like': true,
                        'imgSrc': '/assets/img/products/product-present-2.png',
                        'alt': 'product-1',
                        'price': ['320', '450'],
                        'title': 'Подарочный набор',
                        'brand': 'PETER RABBIT',
                        'code': '#CG1249',
                        'modifier': 'product-item--catalog',
                        'btnBuy': 'В корзину'
                    },
                    {
                        'product_id': '11',
                        'like': true,
                        'imgSrc': '/assets/img/products/product-present-1.png',
                        'alt': 'product-1',
                        'price': ['216', '367'],
                        'title': 'Подарочный набор',
                        'brand': 'PETER RABBIT',
                        'code': '#CG1249',
                        'modifier': 'product-item--catalog',
                        'btnBuy': 'В корзину'
                    },
                    {
                        'product_id': '12',
                        'like': true,
                        'imgSrc': '/assets/img/products/product-present-5.png',
                        'alt': 'product-1',
                        'price': ['647', '700'],
                        'title': 'Подарочный набор',
                        'brand': 'PETER RABBIT',
                        'code': '#CG1249',
                        'modifier': 'product-item--catalog',
                        'btnBuy': 'В корзину'
                    },
                    {
                        'product_id': '13',
                        'like': true,
                        'imgSrc': '/assets/img/products/product-present-3.png',
                        'alt': 'product-1',
                        'new': true,
                        'price': ['634', '880'],
                        'title': 'Подарочный набор',
                        'brand': 'PETER RABBIT',
                        'code': '#CG1249',
                        'modifier': 'product-item--catalog',
                        'btnBuy': 'В корзину'
                    },
                    {
                        'product_id': '14',
                        'like': true,
                        'imgSrc': '/assets/img/products/product-present-2.png',
                        'alt': 'product-1',
                        'price': ['546', '680'],
                        'title': 'Подарочный набор',
                        'brand': 'PETER RABBIT',
                        'code': '#CG1249',
                        'modifier': 'product-item--catalog',
                        'btnBuy': 'В корзину'
                    },
                    {
                        'product_id': '15',
                        'like': true,
                        'imgSrc': '/assets/img/products/product-present-5.png',
                        'alt': 'product-1',
                        'price': ['327', '350'],
                        'title': 'Подарочный набор',
                        'brand': 'PETER RABBIT',
                        'code': '#CG1249',
                        'modifier': 'product-item--catalog',
                        'btnBuy': 'В корзину'
                    },
                    {
                        'product_id': '16',
                        'like': true,
                        'imgSrc': '/assets/img/products/product-present-2.png',
                        'alt': 'product-1',
                        'new': true,
                        'price': ['368', '450'],
                        'title': 'Подарочный набор',
                        'brand': 'PETER RABBIT',
                        'code': '#CG1249',
                        'modifier': 'product-item--catalog',
                        'btnBuy': 'В корзину'
                    },
                    {
                        'product_id': '17',
                        'like': true,
                        'imgSrc': '/assets/img/products/product-present-1.png',
                        'alt': 'product-1',
                        'price': ['556', '925'],
                        'title': 'Подарочный набор',
                        'brand': 'PETER RABBIT',
                        'code': '#CG1249',
                        'modifier': 'product-item--catalog',
                        'btnBuy': 'В корзину'
                    },
                    {
                        'product_id': '18',
                        'like': true,
                        'imgSrc': '/assets/img/products/product-present-7.png',
                        'alt': 'product-1',
                        'price': ['436', '490'],
                        'title': 'Подарочный набор',
                        'brand': 'PETER RABBIT',
                        'code': '#CG1249',
                        'modifier': 'product-item--catalog',
                        'btnBuy': 'В корзину'
                    },
                    {
                        'product_id': '19',
                        'like': true,
                        'imgSrc': '/assets/img/products/product-present-6.png',
                        'alt': 'product-1',
                        'price': ['200', '700'],
                        'title': 'Подарочный набор',
                        'brand': 'PETER RABBIT',
                        'code': '#CG1249',
                        'modifier': 'product-item--catalog',
                        'btnBuy': 'В корзину'
                    },
                    {
                        'product_id': '20',
                        'like': true,
                        'imgSrc': '/assets/img/products/product-present-4.png',
                        'alt': 'product-1',
                        'new': true,
                        'price': ['356', '450'],
                        'title': 'Подарочный набор',
                        'brand': 'PETER RABBIT',
                        'code': '#CG1249',
                        'modifier': 'product-item--catalog',
                        'btnBuy': 'В корзину',
                    }
                ],

                'one_product': true
            })

        +e.pagination.pagination-controllers
            +e.BUTTON.pagination-btn-prev.btn-prev
                i.zmdi.zmdi-long-arrow-left

            +b.UL.pagination
                +pagination({
                    'numbers': [
                        {
                            'order': '1',
                            'href': 'javascript:void(0);',
                            'active': true,
                            'mobile': true
                        },
                        {
                            'order': '2',
                            'href': 'javascript:void(0);',
                            'mobile': true
                        },
                        {
                            'order': '3',
                            'href': 'javascript:void(0);',
                            'mobile': true
                        },
                        {
                            'order': '4',
                            'href': 'javascript:void(0);',
                        },
                        {
                            'order': '5',
                            'href': 'javascript:void(0);',
                        },
                        {
                            'order': '...',
                            'href': 'javascript:void(0);',
                            'dots': true,
                            'mobile': true
                        },
                        {
                            'order': '112',
                            'href': 'javascript:void(0);',
                            'mobile': true
                        }
                    ]
                })

            +e.BUTTON.pagination-btn-next.btn-next
                i.zmdi.zmdi-long-arrow-right