+b.SCTION.catalog#catalog
    +e.container.container
        +b.catalog-head
            +e.section-top
                +b.UL.bread-crumbs
                    +breadCrumbs({
                        'links': [
                            {
                                'href': '/',
                                'title': '7 Salabim'
                            },
                            {
                                'href': '#',
                                'title': 'Каталог'
                            },
                            {
                                'href': '#',
                                'title': 'Подарки'
                            }
                        ]
                    })

            +e.section-bottom
                +e.section-left
                    span Показать:

                    +b.UL.pagination
                        +pagination({
                            'numbers': [
                                {
                                    'order': '20',
                                    'href': 'javascript:void(0);',
                                    'active': true,
                                    'mobile': true
                                },
                                {
                                    'order': '40',
                                    'href': 'javascript:void(0);',
                                    'mobile': true
                                },
                                {
                                    'order': '60',
                                    'href': 'javascript:void(0);',
                                    'mobile': true
                                }
                            ]
                        })

                +e.section-right
                    span Сортировать:

                    +e.form-sort.form
                        +b.FORM(action="#").form-content#js-catalog-form-sort
                            select(name="catalog-sort").sort.js-select
                                option(value="по умолчанию", selected) по умолчанию
                                option(value="новинки") новинки
                                option(value="по популярности") по популярности
                                option(value="сначала дешевые") сначала дешевые
                                option(value="сначала дорогие") сначала дорогие
                                option(value="избранные товары") избранные товары
                                option(value="по размеру скидки") по размеру скидки

                        +e.form-icon-arrow-up.form-icon-arrow-up
                            i.fas.fas.fa-chevron-down

                    +e.BUTTON.btn-reset#js-catalog-reset-sort
                        img(src="/assets/img/specifications/icons/icon-reset.svg", alt="icon reset")

        +b.catalog-content
            +e.BUTTON(data-open-text="Открыть фильтры", data-close-text="Закрыть фильтры").btn-mobile.btn#js-catalog-content-btn-mobile Открыть фильтры

            +e.section-left
                include ./catalog-sorts

            +e.section-right
                include ./catalog-grid

                include ../../../utils/alert-info