+b.catalog-sorts
    +b.catalog-sorts-current
        +e.UL.content
            +e.content-item--price
                b
                    span.title Цена

                span#js-catalog-current-sort-price 500 - 1050₴

                +e.BUTTON.btn--delete#js-catalog-reset-sort-price
                    i.fas.fa-times

            +e.content-item--holidays
                b
                    span.title Праздник

                span#js-catalog-current-sort-holidays Новый год


                +e.BUTTON.btn--delete#js-catalog-reset-sort-holidays
                    i.fas.fa-times

        +e.reset
            +e.BUTTON.btn--reset#js-catalog-reset-sorts
                i.fas.fa-times

                +e.SPAN.reset-title Сбросить все

    +b(data-hidden="false").current-sorts-tab
        +e.section-head
            +e.title--price
                span.title Цена

            +e.BUTTON.btn--arrow.js-catalog-sorts-tab-btn
                i.fas.fas.fa-chevron-up

        +e.form--price.form
            +e.FORM(action="#").form-price#js-catalog-sort-price
                input(type="text", name="my_range" value="", data-type="double", data-min="10", data-max="10000", data-from="590", data-to="9000", data-grid="false").js-range-slider#js-catalog-range-price

                +e.SPAN.form-price-inputs
                    input(type="text", value="590", name="min-price")#js-catalog-min-price

                    span

                    input(type="text", value="190000", name="max-price")#js-catalog-max-price

    +b(data-hidden="false").current-sorts-tab
        +e.section-head
            +e.title
                span.title По празднику

            +e.BUTTON.btn--arrow.js-catalog-sorts-tab-btn
                i.fas.fas.fa-chevron-up

        +e.form.form--lighten
            +e.FORM(action="#").form-holidays#js-catalog-sort-holidays
                select(name="catalog-sort-holidays").sort.js-select
                    option(value="Не указано", selected) Не указано
                    option(value="Рождество") Рождество
                    option(value="Новый год") Новый год
                    option(value="Пасха") Пасха
                    option(value="День рождения") День рождения

            +e.form-icon-arrow-up.form-icon-arrow-up
                i.fas.fas.fa-chevron-down

    +b(data-hidden="false").current-sorts-tab
        +e.section-head
            +e.title
                span.title По цвету

            +e.BUTTON.btn--arrow.js-catalog-sorts-tab-btn
                i.fas.fas.fa-chevron-up

        +e.UL.colors-list.colors-list
            +colorsList({
                'colors': [
                    {
                        'dataColor': 'white',
                        'dataRel': 'default',
                    },
                    {
                        'dataColor': 'white',
                        'colorAlert': 'Белый'
                    },
                    {
                        'dataColor': '#E93B17',
                        'colorAlert': 'Красный'
                    },
                    {
                        'dataColor': '#FFA63F',
                        'colorAlert': 'Оранжевой'
                    },
                    {
                        'dataColor': '#F9F81E',
                        'colorAlert': 'Желтый'
                    },
                    {
                        'dataColor': '#64DD3C',
                        'colorAlert': 'Зеленый'
                    },
                    {
                        'dataColor': '#40D0BF',
                        'colorAlert': 'Голубой'
                    },
                    {
                        'dataColor': '#2489FF',
                        'colorAlert': 'Синий'
                    },
                    {
                        'dataColor': '#C549FF',
                        'colorAlert': 'Фиолетовый'
                    },
                    {
                        'dataColor': '#3E3F43',
                        'colorAlert': 'Тёмный'
                    }
                ]
            })

    +b(data-hidden="false").current-sorts-tab
        +e.section-head
            +e.title
                span.title По полу

            +e.BUTTON.btn--arrow.js-catalog-sorts-tab-btn
                i.fas.fas.fa-chevron-up

        +e.UL.sex-list
            +e.sex-list-item
                +e.INPUT(type="radio", name="catalog-type-sex", value="man", form="js-catalog-form-sort", checked)#catalog-form-sorts-radio-man

                +e.LABEL.sex-list-item-title.title.form-input-label(for="catalog-form-sorts-radio-man") Муж

            +e.sex-list-item
                +e.INPUT(type="radio", name="catalog-type-sex", value="woman", form="js-catalog-form-sort")#catalog-form-sorts-radio-woman

                +e.LABEL.sex-list-item-title.title.form-input-label(for="catalog-form-sorts-radio-woman") Жен