.basket
  &__section
    &-head, &-content, &-bottom, &-box
      width: 100%

    &-box
      position: relative
      min-height: 400px

  &__body, &__preloader
    position: relative
    top: 0
    left: 0
    width: 100%
    transition: opacity .5s ease
    opacity: 1

    &.hide
      opacity: 0
      z-index: -10

  &-params
    padding: 35px 0
    +flex(space-between, flex-start)

    @media #{$med-very-xs}
      display: none

    &__section
      &-left, &-right
        span
          font-family: $lato-font
          font-size: 16px
          color: $color-basket-params

          @media #{$med-mob}
            font-size: 15px

      &-left
        padding-left: 25px

        span
          &:last-child
            margin-left: 60px

      &-right
        padding-right: 85px

        @media #{$med-very-xs}
          padding-right: 60px

        span
          &:last-child
            margin-left: 130px

            @media #{$med-mob}
              margin-left: 65px

            @media #{$med-very-xs}
              margin-left: 55px

  &-section
    &-pay
      width: 100%
      margin-top: 35px
      +flex(flex-start, flex-end, true)

      &__form
        +flex(flex-start, flex-end, true)

        &-checkbox
          margin-top: 20px
          +flex(flex-start, cenrer)
          flex-direction: row-reverse
          width: auto


          label
            text-transform: uppercase
            font-family: $lato-font
            font-size: 14px
            color: $color-primary
            font-weight: bold
            border-bottom: 1px solid transparent
            //transition: background .3s ease
            padding-bottom: 3px

            &:before
              content: '\f26b'
              font-family: Material-Design-Iconic-Font
              color: $silver-border-light
              font-size: 16px
              margin-right: 5px
              transition: color .3s ease

            &.no-valid
              border-bottom: 1px solid red
              animation: no-valid-checkbox .5s linear infinite alternate

          input[type="checkbox"]:checked
            & + label
              &:before
                color: $color-primary

        & .btn
          @media #{$med-mob}
            max-width: initial!important

      &__btn
        &-reset
          margin-top: 10px
          text-transform: uppercase
          font-family: $lato-font
          font-size: 14px
          color: darken($silver-border-light, 15%)
          font-weight: bold
          cursor: pointer

          i
            margin-right: 5px
            transform-origin: center center
            transition: transform .3s ease, color .3s ease

          &:hover
            i
              transform: rotate(-360deg)
              color: $color-primary

      &__form
        &-btn
          &-submit
            box-shadow: $shadow-product-btn
            margin-top: 25px
            max-width: initial

  @media #{$med-small-xs}
    & .basket-section-pay
      & .form-input-box
        & .form-input-box__icon
          top: 50%!important

  &__preloader
    position: absolute
    background: #ffffff
    height: 100%
    min-height: 400px
    +flex(center, center, no-wrap)

    &-logo
      position: relative
      height: 175px
      width: 175px
      overflow: hidden
      padding: 10px
      animation: preloader-container .9s ease-in-out infinite alternate

      &:after
        position: absolute
        left: 0
        top: 50%
        content: ""
        z-index: 2
        height: 150px
        width: 200%
        background: #fff
        transform: rotate(45deg)
        transform-origin: center center
        animation: preloader 2.5s linear infinite
        background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 91%,rgba(255,255,255,0) 100%)

      img
        position: absolute
        top: 0
        left: 0
        z-index: 1
        height: 100%
        width: 100%