include ../../utils/alert-cookie

+b.FOOTER.footer#footer
    +e.container.container
        +e.section-top
            nav
                +b.UL.footer-menu
                    +e.section-left
                        +e.UL.sublist
                            +e.A(href="/catalog.html").item Каталог

                            +e.A(href="/#products-popular").item Хиты

                            +e.A(href="/#products-new").item Новинки

                        +e.UL.sublist
                            +e.A(href="#", target="_blank").item О нас

                            +e.A(href="#", target="_blank").item Контакты

                            +e.A(href="/articles.html").item Блог

                    +e.section-right
                        +e.UL.sublist
                            +e.A(href="#").item Личный кабинет

                            +e.A(href="#").item Авторизация

                            +e.A(href="/complete-order.html").item Оформить заказ

                        +e.UL.sublist
                            +e.A(href="/about-delivery.html").item О доставке

                            +e.A(href="#").item Возрат товара

                            +e.A(href="#").item Партнерам

            +b.footer-reseived-info
                +e.SPAN.top Мы принимаем:

                +e.content
                    img(src="assets/img/footer/icons/icon-visa.svg", alt="Visa")
                    img(src="assets/img/footer/icons/icon-mastercard.svg", alt="MasterCard")

                +e.bottom
                    span Так же вы можете оплатить покупки наличными.

            +b.footer-questions
                +e.UL.socials-list
                    +e.A(href="#", target="_blank").socials-list-item
                        i.fab.fa-instagram

                    +e.A(href="#", target="_blank").socials-list-item
                        i.fab.fa-facebook-f

                    +e.A(href="#", target="_blank").socials-list-item
                        i.fab.fa-youtube

                +e.H6.title.title Остались вопросы?

                +e.SPAN.description Задайте их нам прямо сейчас!

                +e.BUTTON.btn.js-open-popup-form#js-open-popup-form-question Задать вопрос


        +e.section-bottom
            +b.UL.footer-bottom-list
                +e.SPAN.item © 7 Salabim, 2019

                +e.SPAN.item Created by
                    strong Starfall Studio

            +b.UL.footer-bottom-list
                +e.A(href="#", target="_blank").item Пользовательское соглашение

                +e.A(href="#", target="_blank").item Политика обработки персональных данных

+b.header-submenu-popup
    +e.BUTTON.btn-close#js-submenu-popup-btn-close
        i.fas.fa-times

    +e.content#js-submenu-popup-btn-close
        +b.UL.header-submenu

include ../../utils/popup-form

include ../../utils/preloader