.articles
  margin-top: 90px

  &__title
    @media #{$med-mob-small}
      max-width: 230px

    @media #{$med-small-xs}
      max-width: 190px

  &__container
    +container()
    flex-direction: column
    overflow: hidden

  &__section
    &-head
      +flex(space-between, center)
      width: 100%

    &-content
      width: 100%
      overflow: hidden

      &-slider
        width: 103.5%
        +flex(flex-start, center, false, nowrap)
        margin-top: 70px

        & .slick-list
          +flex(flex-start, stretch, false, nowrap)

        & .slick-track
          +flex(flex-start, center, false, nowrap)
          padding-bottom: 50px

        @media #{$med-mob}
          width: 107%

        @media #{$med-small-xs}
          width: 110%

        li
          width: 100%
          max-width: 465px
          height: 345px
          margin-right: 55px

          @media (max-width: $exclusive-xlg)
            margin-right: 35px

          @media #{$med-mob-small}
            max-width: initial

          //@media #{$med-mob}
          //  margin-right: 0!important

          &:last-child
            margin-right: 0

        & .slick-list, & .slick-track
          width: 100%

  //&__item
  //  width: 100%
  //  height: 100%
  //  display: block
  //  color: #fff
  //  box-shadow: $shadow-article
  //
  //  &-wrapper
  //    position: relative
  //    width: 100%
  //    height: 100%
  //    z-index: 1
  //    overflow: hidden
  //
  //  &-img
  //    position: absolute
  //    top: 0
  //    left: 0
  //    z-index: 2
  //    width: 100%
  //    height: 100%
  //    filter: blur(3px)
  //
  //  &-content
  //    position: absolute
  //    top: 0
  //    left: 0
  //    z-index: 4
  //    width: 100%
  //    height: 100%
  //    padding: 50px 45px 25px
  //    background: rgba(62, 63, 67, 0.7)
  //
  //    @media #{$med-small-xs}
  //      padding-left: 25px
  //      padding-right: 25px
  //
  //    &-title
  //      color: #fff
  //
  //      @media #{$med-xlg}
  //        font-size: 28px
  //
  //      @media #{$med-xlg-extra-lg}
  //        font-size: 25px
  //
  //      @media #{$med-lg-str}
  //        font-size: 22px!important
  //
  //      @media #{$med-mob-small}
  //        font-size: 30px!important
  //
  //    p
  //      font-family: $lato-font
  //      font-size: 18px
  //      line-height: 120%
  //      margin-top: 15px
  //      padding-bottom: 20px
  //
  //      @media (max-width: $exclusive-xlg-small)
  //        font-size: 15px
  //
  //      @media #{$med-lg-str}
  //        font-size: 14px!important
  //
  //      @media #{$med-mob-small}
  //        font-size: 16px!important
  //
  //    &-footer
  //      position: absolute
  //      bottom: 25px
  //      padding-top: 20px
  //      margin-top: 35px
  //      width: 80%
  //      border-top: 1px solid #fff
  //      +flex(flex-start, flex-start)
  //
  //      @media #{$med-xlg}
  //        width: 100%
  //        max-width: 73%
  //        left: 50%
  //        transform: translateX(-50%)
  //
  //      @media #{$med-mob-small}
  //        max-width: 83%!important
  //
  //      &-date, &-views
  //        +flex(center, center, false, nowrap)
  //        font-family: $lato-font
  //
  //        @media #{$med-lg-str}
  //          font-size: 14px
  //
  //        i
  //          height: 15px
  //          width: 15px
  //          margin-right: 10px
  //
  //      &-date
  //        margin-right: 20px
  //
  //      &-views
  //        i
  //          background-size: contain!important

  &__slider
    &-btn
      &-next
        margin-left: 10px

  &__btn
    margin: 25px auto 35px
    text-align: center
    box-shadow: $shadow-product-btn