.products
  &-sale
    margin-top: 40px

    @media #{$med-mob}
      margin-top: 60px

    & .price__number
      &:after
        //left: 10%
        //@media #{$med-mob}
        //  left: -25px!important
        //
        //@media #{$med-normal-xs}
        //  left: -15px!important

    &__title
      @media #{$med-mob-small}
        max-width: 230px

      @media #{$med-small-xs}
        max-width: 190px!important

    &__container
      +container()
      flex-direction: column

    &__section
      &-content
        width: 100%

    &-section
      &-content
        &-slider
          width: 100%
          display: flex
          overflow: hidden
          padding-top: 50px

          & .products-item
            width: 100%
            height: 100%

            @media #{$med-mob}
              height: initial

          @media #{$med-xlg-extra-small}
            width: 101%

          & .slick-list
            width: 100%
            overflow: visible

          @media (max-width: $media-lg)
            & .slick-track
              display: flex

          &__slide
            height: 100%
            max-width: 1500px
            +flex(center, center, false, nowrap)

            & .product-item
              & .btn
                @media #{$med-mob}
                  opacity: 1!important

                &[disabled="disabled"]
                  opacity: 0!important

                  @media #{$med-mob}
                    opacity: .5!important

              &:hover .btn[disabled="disabled"]
                  opacity: .5!important

            @media (max-width: $media-between-xg)
              display: flex!important

              & .product-item
                width: 100%

            @media #{$med-xlg-extra-small}
              justify-content: flex-start

    &__section
      &-head
        +flex(space-between, center, false, nowrap)
        width: 100%

    &__slider
      &-btns
        display: flex
        flex-wrap: nowrap

      &-btn
        &-next
          margin-left: 10px