.error
  &-page
    &__container
      +container()
      flex-direction: column

    &__section
      &-content, &-bottom
        width: 100%
        +flex(center, center, false, nowrap)
        flex-direction: column

      &-bottom
        margin-top: 125px

        h1
          font-weight: 500
          font-size: 36px
          font-family: $montserrat-font-bold

          @media #{$med-mob}
            width: 100%
            max-width: 500px
            text-align: center

          @media #{$med-very-xs}
            max-width: 300px
            font-size: 25px

        span
          margin-top: 20px

          @media #{$med-mob}
            text-align: center
            margin-top: 30px

          @media #{$med-very-xs}
            font-size: 14px

    &__image
      position: relative
      margin-top: 35px
      +flex(center, center, true, nowrap)

      img
        position: absolute
        bottom: -30%

        @media #{$med-very-xs}
          width: 100%
          max-width: 280px

        @media #{$med-small-xs}
          max-width: 225px
          bottom: -60%

    &__text
      font-size: 260px
      font-weight: 700
      font-family: $montserrat-font-bold
      opacity: .3

      @media #{$med-very-xs}
        font-size: 190px

      @media #{$med-small-xs}
        font-size: 130px!important

    &__btn
      margin-top: 35px