.catalog
  &-similar
    &-slider
      display: none
      max-width: 1065px
      margin-top: 50px

      @media #{$med-mob}
        width: 100%

      & .products-line__container
        @media #{$med-big-xlg}
          width: 100%
          max-width: 850px

        @media #{$med-lg-big-str}
          max-width: 697px

        @media #{$med-lg-str}
          max-width: 530px!important

        @media #{$med-mob}
          width: 100%!important
          max-width: initial!important