+b.SECTION.basket#thanks
    +e.container.container
        +e.section-head.bread-crumbs-head
            +b.UL.bread-crumbs
                +breadCrumbs({
                    'links': [
                        {
                            'href': '/',
                            'title': '7 Salabim'
                        },
                        {
                            'href': '/basket.html',
                            'title': 'Корзина'
                        },
                        {
                            'href': '/catalog.html',
                            'title': 'Оформление заказа'
                        }
                    ]
                })

        +e.section-content
            +alert({
                'title': 'Спасибо что выбрали нас!',
                'description': 'Ваш заказ передан в обработку, и будет выполнен в ближайшее время',
                'iconSrc': '/assets/img/specifications/icons/thanks-icon.svg',
                'modifier': 'alert-info--thanks'
            })

            +e.information-order
                +e.information-order-section-left
                    +e.SPAN.information-order-section-left-title Номер вашего заказа

                    +e.information-order-section-left-numbers
                        span 000012

                +e.information-order-section-right
                    span 20.09.2019

            +b.basket-params--tnanks
                +e.section-left
                    span Фото

                    span Название


                +e.section-right
                    span  Количество

                    span  Цена


        +e.section-bottom
            +b.UL.basket-products-list--thanks
                +basketProducts({
                    'products': [
                        {
                            'name': 'Подарочный набор PETER RABBIT',
                            'photoSrc': '/assets/img/products/product-present-2.png',
                            'photoAlt': 'product-2',
                            'priceText': '235₴',
                            'price': '235',
                            'isThanks': true
                        },
                        {
                            'name': 'Фотоальбом 15х15х6',
                            'photoSrc': '/assets/img/products/product-present-1.png',
                            'photoAlt': 'product-2',
                            'priceText': '135₴',
                            'price': '135',
                            'isThanks': true
                        },
                        {
                            'name': 'Подарочная коробка 50х10',
                            'photoSrc': '/assets/img/products/product-present-4.png',
                            'photoAlt': 'product-2',
                            'priceText': '235₴',
                            'price': '235',
                            'isThanks': true
                        },
                        {
                            'name': 'Бумага упаковочная',
                            'photoSrc': '/assets/img/products/product-present-2.png',
                            'photoAlt': 'product-2',
                            'priceText': '255₴',
                            'price': '255',
                            'isThanks': true
                        },
                        {
                            'name': 'Вазон фикуса',
                            'photoSrc': '/assets/img/products/product-present-6.png',
                            'photoAlt': 'product-2',
                            'priceText': '245₴',
                            'price': '245',
                            'isThanks': true
                        },
                        {
                            'name': 'Подарочный набор PETER RABBIT',
                            'photoSrc': '/assets/img/products/product-present-5.png',
                            'photoAlt': 'product-2',
                            'priceText': '2115₴',
                            'price': '2115',
                            'isThanks': true
                        },
                        {
                            'name': 'Фотоальбом 8х10х3',
                            'photoSrc': '/assets/img/products/product-present-7.png',
                            'photoAlt': 'product-2',
                            'priceText': '265₴',
                            'price': '265',
                            'isThanks': true
                        },
                        {
                            'name': 'Бумага упаковочная',
                            'photoSrc': '/assets/img/products/product-present-1.png',
                            'photoAlt': 'product-2',
                            'priceText': '225₴',
                            'price': '225',
                            'isThanks': true
                        }
                    ]
                })

        +b.basket-section-pay
            +allSumPrices({
                'title': 'Общая сума заказа:'
            })

            +e.A(href="/catalog.html").link.link-dashed Продолжить покупки