+b.SECTION.alert-cookie#alert-cookie
    +e.container.container
        +e.SPAN.text Наш сайт использует Cookie вашего браузера. Используя наш сайт, вы подтверждаете, что прочитали и поняли, и  пользовательское соглашение

        +e.A.btn#js-alert-cookie-btn(href="#") Ok