+alert({
    'title': 'Упс! По вашему запросу ничего не нашлось',
    'description': 'Но вы можете посмотреть другие товары в нашем каталоге!',
    'iconSrc': '/assets/img/specifications/icons/icon-catalog-empty.svg',
    'btn': true,
    'btnText': 'Перейти к каталогу'
})

+b.catalog-similar-slider
    include ../includes/modules/sliders/catalog-similar-products