.article
  &-top
    width: 100%
    position: relative

    &__cover
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      z-index: 2
      background: rgba(0, 0, 0, .5)

    &__content
      position: relative
      z-index: 3
      width: 100%
      padding: 135px 0 150px

      @media #{$med-xs}
        padding: 60px 0

    &__section
      &-top, &-bottom
        width: 100%

      &-top
        & .title
          color: #fff
          max-width: 550px

      &-bottom
        margin-top: 75px
        +flex(space-between, center, false, nowrap)

        @media #{$med-xs}
          flex-direction: column
          align-items: flex-start
          margin-top: 35px

      &-info
        +flex(center, center, false, nowrap)

        //@media #{$med-xs}
        //  display: block

        &-date, &-reviews
          +flex(center, center, false, nowrap)

          i
            height: 20px
            width: 20px
            display: block
            margin-right: 15px

          span
            font-family: $lato-font
            font-size: 17px
            color: #fff
            font-weight: normal

        &-reviews
          margin-left: 35px

    &__title
      @media #{$med-xs}
        font-size: 25px!important

    &__description
      margin-top: 15px
      max-width: 600px
      color: rgba(#fff, .8)

      @media #{$med-xs}
        font-size: 14px

    &__btn
      padding-left: 55px
      padding-right: 55px
      display: block

      @media #{$med-xs}
        margin-top: 30px
        padding-left: 30px
        padding-right: 30px