.articles
  &-grid
    &__section
      &-head, &-content
        display: block
        width: 100%

      &-content
        position: relative

    &-list
      margin-top: 55px
      min-height: 800px
      +flex(flex-start, stretch)

      @media #{$med-big-xlg}
        justify-content: space-between

      @media #{$med-mob-small}
        justify-content: initial

      li
        width: 100%
        max-width: 465px
        height: 345px
        margin-right: 52px
        margin-bottom: 55px

        &:nth-child(3), &:nth-child(6), &:nth-child(9), &:nth-child(12), &:nth-child(15), &:nth-child(18), &:nth-child(21)
          margin-right: 0

        @media #{$med-big-xlg}
          max-width: 30%
          margin-right: 3vw

          & .article-item__content
            padding-left: 35px
            padding-right: 35px

        & .title
          @media #{$med-big-xlg}
            font-size: 25px!important

          @media #{$med-lg-big-str}
            font-size: 20px!important

          @media #{$med-mob-small}
            font-size: 22px!important

        @media #{$med-mob}
          max-width: 47%
          margin-right: 5vw

          &:nth-child(3), &:nth-child(6), &:nth-child(9), &:nth-child(12), &:nth-child(15), &:nth-child(18), &:nth-child(21)
            margin-right: 5vw

          &:nth-child(2), &:nth-child(4), &:nth-child(6), &:nth-child(8), &:nth-child(10), &:nth-child(12), &:nth-child(14)
            margin-right: 0

        @media #{$med-mob-small}
          max-width: initial
          margin-right: 0

          &:nth-child(3), &:nth-child(6), &:nth-child(9), &:nth-child(12), &:nth-child(15), &:nth-child(18), &:nth-child(21)
            margin-right: 0

        @media #{$med-xs}
          & .article-item__content
            padding-left: 25px
            padding-right: 25px

    &__pagination
      margin-top: 20px