+b.SECTION.card#card
    +e.container.container
        +e.section-head.bread-crumbs-head
            +b.UL.bread-crumbs
                +breadCrumbs({
                    'links': [
                        {
                            'href': '/',
                            'title': '7 Salabim'
                        },
                        {
                            'href': '/catalog.html',
                            'title': 'Каталог'
                        },
                        {
                            'href': '#',
                            'title': 'Продукт'
                        }
                    ]
                })

        +e.section-content
            +b.card-section-left
                +e.BUTTON.btn-up#js-card-images-btn-up
                    i.zmdi.zmdi-chevron-up

                +e.images-grid
                    +e.DIV.images-grid-left.swiper-container#js-card-images-grid-slider
                        +e.UL.images-grid-left-list.swiper-wrapper
                            +e.LI.swiper-slide.swiper-slide
                                +e.IMG(src="/assets/img/products/product-present-2.png", alt="product photo 1").images-grid-item.js-card-product-image

                            +e.LI.swiper-slide.swiper-slide
                                +e.IMG(src="/assets/img/products/product-present-3.png", alt="product photo 2").images-grid-item.js-card-product-image

                            +e.LI.swiper-slide.swiper-slide
                                +e.IMG(src="/assets/img/products/product-present-4.png", alt="product photo 3").images-grid-item.js-card-product-image

                        +e.BUTTON.images-controllers-btn-down

                    +e.IMG(src="/assets/img/products/product-present-2.png", alt="product photo 4").images-grid-item--parent#js-card-product-parent-image

                +e.BUTTON.btn-down#js-card-images-btn-down
                    i.zmdi.zmdi-chevron-down

            +b(data-product-id="12").card-section-right
                +e.top
                    +e.title
                        h1.title Подарочный набор PETER RABBIT

                        span #CG1249

                    +e.A(href="javascript:void(0);").btn-like.btn-like.js-product-btn-like
                        i.far.fa-heart

                        i.fas.fa-heart

                    +smallAlertInfo('В список желаний')

                +e.center
                    +price(['368', '102.99'])

                    +e.center-btns
                        include ../../../utils/product-count-calculator

                        +e.BUTTON.btn.btn.js-product-btn-buy В корзину

                +e.bottom
                    +e.H2.bottom-title--colors.title Цвет

                    +e.UL.colors-list.colors-list
                        +colorsList({
                            'colors': [
                                {
                                    'dataColor': 'white',
                                    'colorAlert': 'Белый'
                                },
                                {
                                    'dataColor': '#E93B17',
                                    'colorAlert': 'Красный'
                                },
                                {
                                    'dataColor': '#FFA63F',
                                    'colorAlert': 'Оранжевой'
                                },
                                {
                                    'dataColor': '#F9F81E',
                                    'colorAlert': 'Желтый'
                                }
                            ]
                        })

                    +e.H3.bottom-title--description.title Описание товара

                    p.light-text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.