+b.SECTION.card-tabs#card-tabs
    +e.container.container
        +e.content
            +e.content-head
                +b.UL.card-tabs-controllers-list
                    +e(data-tab-id="1").item--active.js-card-tabs-controllers-btn
                        span Описание

                    +e(data-tab-id="2", data-count="12").item.js-card-tabs-controllers-btn
                        span Отзывы о продукте

                        +e.SPAN.item-count#js-card-tabs-reviews

                    +e(data-tab-id="3").item.js-card-tabs-controllers-btn
                        span Оптовым покупателям

            +e.content-footer
                +b.UL.card-tabs-content
                    +e(data-tab-id="1").item--active.js-card-tabs-content-item
                        +e.section-left
                            +e.H4.title.title Подарочный набор PETER RABBIT

                            +e.SPAN.code #CG1249

                            p.light-text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.

                        +e.section-right
                            +b.UL.card-tabs-section-right-params
                                +e.item
                                    +e.SPAN.item-title Высота

                                    +e.SPAN.item-info 64 см

                                +e.item
                                    +e.SPAN.item-title Ширина

                                    +e.SPAN.item-info 24 × 6.375 × 1.25 см

                                +e.item
                                    +e.SPAN.item-title Еще чтото

                                    +e.SPAN.item-info 2mm (12 Gauge)

                    +e(data-tab-id="2").item--reviews.js-card-tabs-content-item
                        +e.section-top
                            +e.H4.title.title Отзывы

                            +reviewsList({
                                'reviews': [
                                    {
                                        'author': 'Андрей Маринович',
                                        'countLike': '123',
                                        'countUnLike': '23',
                                        'date': '20.12.2019',
                                        'text': 'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.',
                                        'more': true,
                                        'priority': true,
                                        'textPriority': 'Отличный дизайн, упаковка',
                                        'limitations': true,
                                        'textLimitations': 'Малый выбор цвета'
                                    },
                                    {
                                        'author': 'Андрей Конюх',
                                        'countLike': '123',
                                        'countUnLike': '56',
                                        'date': '20.12.2019',
                                        'text': 'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.',
                                        'more': false
                                    },
                                    {
                                        'author': 'Андрей Мацьопа',
                                        'countLike': '423',
                                        'countUnLike': '23',
                                        'date': '27.12.2019',
                                        'text': 'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.',
                                        'more': true,
                                        'priority': true,
                                        'textPriority': 'Отличный дизайн'
                                    },
                                    {
                                        'author': 'Коля Коба',
                                        'countLike': '123',
                                        'countUnLike': '83',
                                        'date': '20.12.2019',
                                        'text': 'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.',
                                        'more': true,
                                        'priority': true,
                                        'textPriority': 'Отличный вкус'
                                    },
                                    {
                                        'author': 'Игорь Мацух',
                                        'countLike': '103',
                                        'countUnLike': '46',
                                        'date': '28.12.2019',
                                        'text': 'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.',
                                        'more': true,
                                        'limitations': true,
                                        'textLimitations': 'Маловато как-то'
                                    },
                                    {
                                        'author': 'Алла Пугачёва',
                                        'countLike': '1235',
                                        'countUnLike': '23',
                                        'date': '30.12.2019',
                                        'text': 'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.',
                                        'more': true,
                                        'priority': true,
                                        'textPriority': 'Перед новым годом, моему Максимку, прям самое "То"!'
                                    }
                                ]
                            })

                        +e.section-bottom
                            +e.BUTTON.btn.btn.btn-unique#js-card-product-tabs-btn-more Показать еще

                            +e.BUTTON.btn.btn.js-open-popup-form#js-open-popup-form-reviews Быстрый отзыв

                    +e(data-tab-id="3").item--form.js-card-tabs-content-item
                        +e.section-left
                            +e.H4.title.title Подарочный набор PETER RABBIT

                            p.light-text Для заказа более 10 единиц товара пожалуйста заполните некоторую информацию, и наш менеджер свяжеться с вами

                            +e.FORM(action="/", method="POST").form
                                +formInputBox({
                                    'boxes': [
                                        {
                                            'inputType': 'text',
                                            'inputName': 'name',
                                            'inputMinLength': '5',
                                            'inputMaxLength': '25',
                                            'inputPlaceholder': 'Имя',
                                            'inputIconSrc': '/assets/img/specifications/icons/form/person-icon.svg',
                                            'inputIconAlt': 'person',
                                            'required': true
                                        },
                                        {
                                            'inputType': 'text',
                                            'inputName': 'organization',
                                            'inputMinLength': '5',
                                            'inputMaxLength': '45',
                                            'inputPlaceholder': 'Организация',
                                            'inputIconSrc': '/assets/img/specifications/icons/form/diplomat-icon.svg',
                                            'inputIconAlt': 'organization',
                                            'required': true
                                        },
                                        {
                                            'inputType': 'text',
                                            'inputName': 'comments',
                                            'inputMinLength': '10',
                                            'inputMaxLength': '75',
                                            'inputPlaceholder': 'Коментарии',
                                            'inputIconSrc': '/assets/img/specifications/icons/form/message-icon.svg',
                                            'inputIconAlt': 'comments'
                                        },
                                        {
                                            'inputType': 'tell',
                                            'inputName': 'phone',
                                            'inputMinLength': '6',
                                            'inputMaxLength': '15',
                                            'inputPlaceholder': 'Телефон',
                                            'inputIconSrc': '/assets/img/specifications/icons/form/phone-icon.svg',
                                            'inputIconAlt': 'phone',
                                            'required': true
                                        },
                                        {
                                            'inputType': 'email',
                                            'inputName': 'email',
                                            'inputMinLength': '8',
                                            'inputMaxLength': '35',
                                            'inputPlaceholder': 'E-mail',
                                            'inputIconSrc': '/assets/img/specifications/icons/form/postcard-icon.svg',
                                            'inputIconAlt': 'email'
                                        },
                                        {
                                            'inputType': 'number',
                                            'inputName': 'count',
                                            'inputMinLength': '2',
                                            'inputMaxLength': '10',
                                            'inputPlaceholder': 'Количество',
                                            'inputIconSrc': '/assets/img/specifications/icons/form/count-icon.svg',
                                            'inputIconAlt': 'count',
                                            'required': true
                                        }
                                    ]
                                })

                                +e.BUTTON.form-btn.btn Отправить


        +e.section-sliders
            +b.products-line#products-buying
                +e.section-head
                    +e.H4.title.title С этим покупают

                    +e.slider-btns
                        +e.A(href="javascript:void(0);").slider-btn-prev.btn-round#js-slider-products-buying-btn-prev
                            i.fa.fa-angle-left

                        +e.A(href="javascript:void(0);").slider-btn-next.btn-round#js-slider-products-buying-btn-next
                            i.fa.fa-angle-right

                +e.section-content
                    +b.UL.products-line-section-content-slider#js-slider-products-buying
                        +product({
                            'products': [
                                {
                                    'product_id': '21',
                                    'like': true,
                                    'imgSrc': '/assets/img/products/product-present-1.png',
                                    'alt': 'product-2',
                                    'price': ['368', '450'],
                                    'title': 'Подарочный набор',
                                    'brand': 'PETER RABBIT',
                                    'btnBuy': 'В корзину',
                                    'modifier': 'product-item--buying',
                                    'mobileSmall': true
                                },
                                {
                                    'product_id': '22',
                                    'like': true,
                                    'imgSrc': '/assets/img/products/product-present-5.png',
                                    'alt': 'product-2',
                                    'price': ['368', '450'],
                                    'title': 'Подарочный набор',
                                    'brand': 'PETER RABBIT',
                                    'btnBuy': 'В корзину',
                                    'modifier': 'product-item--buying',
                                    'mobileSmall': true
                                },
                                {
                                    'product_id': '23',
                                    'like': true,
                                    'imgSrc': '/assets/img/products/product-present-6.png',
                                    'alt': 'product-2',
                                    'price': ['368', '450'],
                                    'title': 'Подарочный набор',
                                    'brand': 'PETER RABBIT',
                                    'btnBuy': 'В корзину',
                                    'modifier': 'product-item--buying',
                                    'mobileSmall': true
                                },
                                {
                                    'product_id': '24',
                                    'like': true,
                                    'imgSrc': '/assets/img/products/product-present-2.png',
                                    'alt': 'product-2',
                                    'price': ['368', '450'],
                                    'title': 'Подарочный набор',
                                    'brand': 'PETER RABBIT',
                                    'btnBuy': 'В корзину',
                                    'modifier': 'product-item--buying',
                                    'mobileSmall': true
                                }
                            ],

                            'one_product': true
                        })

                        +product({
                            'products': [
                                {
                                    'product_id': '25',
                                    'like': true,
                                    'imgSrc': '/assets/img/products/product-present-7.png',
                                    'alt': 'product-2',
                                    'price': ['368', '450'],
                                    'title': 'Подарочный набор',
                                    'brand': 'PETER RABBIT',
                                    'btnBuy': 'В корзину',
                                    'modifier': 'product-item--buying',
                                    'mobileSmall': true
                                },
                                {
                                    'product_id': '26',
                                    'like': true,
                                    'imgSrc': '/assets/img/products/product-present-3.png',
                                    'alt': 'product-2',
                                    'price': ['368', '450'],
                                    'title': 'Подарочный набор',
                                    'brand': 'PETER RABBIT',
                                    'btnBuy': 'В корзину',
                                    'modifier': 'product-item--buying',
                                    'mobileSmall': true
                                },
                                {
                                    'product_id': '27',
                                    'like': true,
                                    'imgSrc': '/assets/img/products/product-present-2.png',
                                    'alt': 'product-2',
                                    'price': ['368', '450'],
                                    'title': 'Подарочный набор',
                                    'brand': 'PETER RABBIT',
                                    'btnBuy': 'В корзину',
                                    'modifier': 'product-item--buying',
                                    'mobileSmall': true
                                },
                                {
                                    'product_id': '28',
                                    'like': true,
                                    'imgSrc': '/assets/img/products/product-present-1.png',
                                    'alt': 'product-2',
                                    'price': ['368', '450'],
                                    'title': 'Подарочный набор',
                                    'brand': 'PETER RABBIT',
                                    'btnBuy': 'В корзину',
                                    'modifier': 'product-item--buying',
                                    'mobileSmall': true
                                }
                            ],

                            'one_product': true
                        })

            +b.products-line#products-similar-card
                +e.section-head
                    +e.H4.title.title Похожие товары

                    +e.slider-btns
                        +e.A(href="javascript:void(0);").slider-btn-prev.btn-round#js-slider-products-similar-card-btn-prev
                            i.fa.fa-angle-left

                        +e.A(href="javascript:void(0);").slider-btn-next.btn-round#js-slider-products-similar-card-btn-next
                            i.fa.fa-angle-right

                +e.section-content
                    +b.UL.products-line-section-content-slider#js-slider-products-similar-card
                        +product({
                            'products': [
                                {
                                    'product_id': '29',
                                    'like': true,
                                    'imgSrc': '/assets/img/products/product-present-7.png',
                                    'alt': 'product-2',
                                    'price': ['368', '450'],
                                    'title': 'Подарочный набор',
                                    'brand': 'PETER RABBIT',
                                    'btnBuy': 'В корзину',
                                    'modifier': 'product-item--similar-card',
                                    'mobileSmall': true
                                },
                                {
                                    'product_id': '30',
                                    'like': true,
                                    'imgSrc': '/assets/img/products/product-present-2.png',
                                    'alt': 'product-2',
                                    'price': ['368', '450'],
                                    'title': 'Подарочный набор',
                                    'brand': 'PETER RABBIT',
                                    'btnBuy': 'В корзину',
                                    'modifier': 'product-item--similar-card',
                                    'mobileSmall': true
                                },
                                {
                                    'product_id': '31',
                                    'like': true,
                                    'imgSrc': '/assets/img/products/product-present-5.png',
                                    'alt': 'product-2',
                                    'price': ['368', '450'],
                                    'title': 'Подарочный набор',
                                    'brand': 'PETER RABBIT',
                                    'btnBuy': 'В корзину',
                                    'modifier': 'product-item--similar-card',
                                    'mobileSmall': true
                                },
                                {
                                    'product_id': '32',
                                    'like': true,
                                    'imgSrc': '/assets/img/products/product-present-1.png',
                                    'alt': 'product-2',
                                    'price': ['368', '450'],
                                    'title': 'Подарочный набор',
                                    'brand': 'PETER RABBIT',
                                    'btnBuy': 'В корзину',
                                    'modifier': 'product-item--similar-card',
                                    'mobileSmall': true
                                }
                            ],

                            'one_product': true
                        })

                        +product({
                            'products': [
                                {
                                    'product_id': '33',
                                    'like': true,
                                    'imgSrc': '/assets/img/products/product-present-3.png',
                                    'alt': 'product-2',
                                    'price': ['368', '450'],
                                    'title': 'Подарочный набор',
                                    'brand': 'PETER RABBIT',
                                    'btnBuy': 'В корзину',
                                    'modifier': 'product-item--similar-card',
                                    'mobileSmall': true
                                },
                                {
                                    'product_id': '34',
                                    'like': true,
                                    'imgSrc': '/assets/img/products/product-present-5.png',
                                    'alt': 'product-2',
                                    'price': ['368', '450'],
                                    'title': 'Подарочный набор',
                                    'brand': 'PETER RABBIT',
                                    'btnBuy': 'В корзину',
                                    'modifier': 'product-item--similar-card',
                                    'mobileSmall': true
                                },
                                {
                                    'product_id': '27',
                                    'like': true,
                                    'imgSrc': '/assets/img/products/product-present-2.png',
                                    'alt': 'product-2',
                                    'price': ['368', '450'],
                                    'title': 'Подарочный набор',
                                    'brand': 'PETER RABBIT',
                                    'btnBuy': 'В корзину',
                                    'modifier': 'product-item--similar-card',
                                    'mobileSmall': true
                                },
                                {
                                    'product_id': '28',
                                    'like': true,
                                    'imgSrc': '/assets/img/products/product-present-1.png',
                                    'alt': 'product-2',
                                    'price': ['368', '450'],
                                    'title': 'Подарочный набор',
                                    'brand': 'PETER RABBIT',
                                    'btnBuy': 'В корзину',
                                    'modifier': 'product-item--similar-card',
                                    'mobileSmall': true
                                }
                            ],

                            'one_product': true
                        })