extends ../head

block content
    body(style="overflow-y: hidden;")
        include ../../includes/modules/header-little
        include utils/card
        include utils/card-tabs
        include ../../includes/modules/footer

        script(src="https://code.jquery.com/jquery-3.4.1.min.js", crossorigin="anonymous")
        script(src="https://kit.fontawesome.com/5d57f4f625.js", crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/swipejs/2.2.13/swipe.min.js")
        script(src="https://7salabim.starfall.com.ua/owl.carousel.min.js")
        script(src="https://7salabim.starfall.com.ua/slider.js")
        script(src="https://7salabim.starfall.com.ua/ion.rangeSlider.min.js")
        script(src="https://7salabim.starfall.com.ua/myscript.rangeSlider.js")