+b.SECTION.article#article
    +e.container.container
        +e.section-head.bread-crumbs-head
            +b.UL.bread-crumbs
                +breadCrumbs({
                    'links': [
                        {
                            'href': '/',
                            'title': '7 Salabim'
                        },
                        {
                            'href': '/articles.html',
                            'title': 'Блог'
                        },
                        {
                            'href': '#',
                            'title': 'Сделай подарок близким и любимым!'
                        }
                    ]
                })

        +e.link-prev
            a(href="/articles.html") Вернуться к блогу

            i.zmdi.zmdi-long-arrow-left

        +e.ARTICLE.section-content
            +b.article-content
                +e.section-top
                    +e.section-top-img
                        img(src="/assets/img/articles/article-image-4.png", alt="article-img")

                    +e.section-top-info
                        +e.H1.title.title Сделай подарок близким и любимым!

                        +e.SPAN.description.light-text Разнообразный и богатый опыт рамки и место обучения кадров позволяет выполнять важные задания по разработке дальнейших направлений развития...

                        +e.section-top-info-details
                            +e.section-top-info-details-date
                                i(style="background: url(assets/img/articles/icons/date-icon-dark.svg) no-repeat center center / contain")

                                span 5 часов назад

                            +e.section-top-info-details-reviews
                                i(style="background: url(assets/img/articles/icons/views-icon-dark.svg) no-repeat center center / contain")

                                span 2123


                +e.section-text
                    +b.P.text-block Разнообразный и богатый опыт рамки и место обучения кадров позволяет выполнять важные задания по разработке дальнейших направлений развития. Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности играет важную роль в формировании модели развития. Разнообразный и богатый опыт реализация намеченных плановых заданий позволяет выполнять важные задания по разработке существенных финансовых и административных условий.

                    +b.P.text-block Равным образом постоянный количественный рост и сфера нашей активности обеспечивает широкому кругу (специалистов) участие в формировании форм развития. Таким образом реализация намеченных плановых заданий позволяет выполнять важные задания по разработке форм развития. Идейные соображения высшего порядка, а также сложившаяся структура организации способствует подготовки и реализации соответствующий условий активизации.

                    +b.P.text-block Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности требуют от нас анализа систем массового участия. Задача организации, в особенности же рамки и место обучения кадров требуют от нас анализа модели развития. Товарищи! укрепление и развитие структуры способствует подготовки и реализации дальнейших направлений развития. Разнообразный и богатый опыт рамки и место обучения кадров требуют от нас анализа дальнейших направлений развития. Не следует, однако забывать, что рамки и место обучения кадров требуют от нас анализа системы обучения кадров, соответствует насущным потребностям.

                    +b.P.text-block Разнообразный и богатый опыт укрепление и развитие структуры представляет собой интересный эксперимент проверки направлений прогрессивного развития. Не следует, однако забывать, что укрепление и развитие структуры позволяет оценить значение форм развития. Идейные соображения высшего порядка, а также консультация с широким активом влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям. Не следует, однако забывать, что новая модель организационной деятельности влечет за собой процесс внедрения и модернизации существенных финансовых и административных условий. Равным образом рамки и место обучения кадров требуют от нас анализа дальнейших направлений развития.