.card
  &-tabs
    &-content
      &__form
        width: 100%
        max-width: 840px
        min-height: 100px
        margin-top: 35px
        display: grid
        grid-template-columns: repeat(3, auto)
        grid-template-rows: 40px 40px 40px
        grid-template-areas: "name phone phone" "organisation email email" "message count submit"
        grid-gap: 20px

        @media #{$med-lg-str}
          grid-template-columns: minmax(200px, 400px) minmax(100px, 190px) minmax(100px, 190px)

        @media #{$med-mob}
          grid-template-rows: repeat(3, auto)

        @media #{$med-mob-normal}
          grid-template-columns: 47.5% 47.5%
          grid-template-rows: repeat(6, auto)
          grid-template-areas: "name name" "phone phone" "organisation organisation" "email email" "message message" "count submit"

        & .form-input-box
          //@media #{$med-mob-normal}
          //  grid-column-start: auto
          //  grid-column-end: auto

          input, textarea
            @media #{$med-mob}
              font-size: 11px
              padding-left: 35px

              & + span + i, & + i
                left: 13px

            &::placeholder
              color: rgba($color-text, .7)

              @media #{$med-mob}
                font-size: 11px

          input
            max-width: 410px
            min-width: 410px

            @media #{$med-lg-str}
              min-width: initial
              max-width: initial

          span
            +position(a, true, 50%, false, 0, true, 15px)
            +transform(false, false, 0, true, -30%)
            font-size: 17px
            font-family: $lato-font
            color: red
            transition: opacity .3s ease
            opacity: 1

            &.hide
              opacity: 0

        & .form-input-box:first-child
          grid-area: name


        & .form-input-box:nth-child(2)
          grid-area: organisation

        & .form-input-box:nth-child(3)
          grid-area: message

        & .form-input-box:nth-child(4)
          grid-area: phone

        & .form-input-box:nth-child(5)
          grid-area: email

        & .form-input-box:nth-child(6)
          grid-area: count


          input
            max-width: 225px
            min-width: initial

            @media #{$med-lg-str}
              max-width: initial

        &-btn
          grid-area: submit
          max-width: 225px
          font-size: 16px
          padding-top: 10px
          padding-bottom: 10px
          box-shadow: $shadow-card-tabs-form-btn

          @media #{$med-lg-str}
            max-width: initial
