.card
  &-tabs
    &-reviews
      &-list
        margin-top: 40px

        &__item
          width: 100%
          padding-bottom: 30px
          border-bottom: 1px solid $silver-border-light
          margin-top: 35px
          transition: opacity .5s ease
          opacity: 1

          &.hide
            opacity: 0
            display: none

          &:first-child
            margin-top: 0

        &__section
          &-head
            +flex(flex-start, center, false, nowrap)

            @media #{$med-mob-small}
              flex-direction: column
              align-items: flex-start

          &-date
            margin-top: 20px

            @media #{$med-mob-small}
              span
                font-size: 14px

            i
              font-size: 17px
              color: $color-text
              margin-right: 10px

          &-more
            &-priority, &-limitations
              & .title
                font-size: 18px
                margin-top: 30px

                @media #{$med-mob}
                  font-size: 17px!important

                @media #{$med-small-xs}
                  font-size: 15px!important

              span
                margin-top: 15px
                display: block

                @media #{$med-small-xs}
                  font-size: 13px

        &__user
          &-name
            font-size: 22px

            @media #{$med-lg-str}
              font-size: 20px

            @media #{$med-mob-small}
              font-size: 20px!important

        &__system
          &-like
            +flex(flex-start, center)
            margin-left: 22px

            @media #{$med-mob-small}
              margin-left: 0
              margin-top: 25px

            &-btn
              padding-right: 15px
              border-right: 1px solid $silver-border-light
              +flex(center, center, false, nowrap)
              color: darken($color-bread-crumbs, 10%)

              @media #{$med-mob-small}
                &:first-child
                  padding-left: 0

              i
                font-size: 20px
                transition: color .3s ease
                margin-right: 10px

              span
                font-family: $lato-font
                font-size: 14px
                font-weight: bold

              &:last-child
                padding-right: initial
                padding-left: 15px
                border-right: none

              &.active
                i
                  color: $color-primary

              &:hover
                i
                  color: $color-primary