+b.SECTION.basket#basket
    +e.container.container
        +e.section-head.bread-crumbs-head
            +b.UL.bread-crumbs
                +breadCrumbs({
                    'links': [
                        {
                            'href': '/',
                            'title': '7 Salabim'
                        },
                        {
                            'href': '/catalog.html',
                            'title': 'Корзина'
                        }
                    ]
                })

        +e.section-box
            +e.body
                +e.section-content
                    +b.basket-params
                        +e.section-left
                            span Фото

                            span Название


                        +e.section-right
                            span  Количество

                            span  Цена


                +e.section-bottom
                    +b.UL.basket-products-list
                        +basketProducts({
                            'products': [
                                {
                                    'name': 'Подарочный набор PETER RABBIT',
                                    'photoSrc': '/assets/img/products/product-present-2.png',
                                    'photoAlt': 'product-2',
                                    'priceText': '235₴',
                                    'price': '235',
                                    'productId': '1'
                                },
                                {
                                    'name': 'Фотоальбом 15х15х6',
                                    'photoSrc': '/assets/img/products/product-present-1.png',
                                    'photoAlt': 'product-2',
                                    'priceText': '135₴',
                                    'price': '135',
                                    'productId': '1'
                                },
                                {
                                    'name': 'Подарочная коробка 50х10',
                                    'photoSrc': '/assets/img/products/product-present-4.png',
                                    'photoAlt': 'product-2',
                                    'priceText': '235₴',
                                    'price': '235',
                                    'productId': '1'
                                },
                                {
                                    'name': 'Бумага упаковочная',
                                    'photoSrc': '/assets/img/products/product-present-2.png',
                                    'photoAlt': 'product-2',
                                    'priceText': '255₴',
                                    'price': '255',
                                    'productId': '4'
                                },
                                {
                                    'name': 'Вазон фикуса',
                                    'photoSrc': '/assets/img/products/product-present-6.png',
                                    'photoAlt': 'product-2',
                                    'priceText': '245₴',
                                    'price': '245',
                                    'productId': '5'
                                },
                                {
                                    'name': 'Подарочный набор PETER RABBIT',
                                    'photoSrc': '/assets/img/products/product-present-5.png',
                                    'photoAlt': 'product-2',
                                    'priceText': '2115₴',
                                    'price': '2115',
                                    'productId': '2'
                                },
                                {
                                    'name': 'Фотоальбом 8х10х3',
                                    'photoSrc': '/assets/img/products/product-present-7.png',
                                    'photoAlt': 'product-2',
                                    'priceText': '265₴',
                                    'price': '265',
                                    'productId': '6'
                                },
                                {
                                    'name': 'Бумага упаковочная',
                                    'photoSrc': '/assets/img/products/product-present-1.png',
                                    'photoAlt': 'product-2',
                                    'priceText': '225₴',
                                    'price': '225',
                                    'productId': '8'
                                }
                            ]
                        })

                +b.basket-section-pay
                    +e.FORM(action="#").form
                        +formInputBox({
                            'boxes': [
                                {
                                    'inputType': 'text',
                                    'inputName': 'coupon',
                                    'inputMinLength': '5',
                                    'inputMaxLength': '20',
                                    'inputPlaceholder': 'Номер купона',
                                    'inputIconSrc': '/assets/img/specifications/icons/form/coupon-icon.svg',
                                    'inputIconAlt': 'coupon'
                                }
                            ]
                        })

                        +e.form-checkbox
                            input(type="checkbox", required, id="confirm", name="confirm")

                            label(for="confirm").no-valid Подтвердить

                        +e.btn-reset#js-basket-products-btn-reset-all
                            i.zmdi.zmdi-replay

                            span обновить корзину

                        +allSumPrices({
                            'title': 'Всего к оплате:'
                        })

                        +e.BUTTON(type="submit").form-btn-submit.btn Оформить заказ

                    +e.A(href="/catalog.html").link.link-dashed Продолжить покупки

            +alert({
                'title': 'Упс! Ваша корзина пуста',
                'description': 'Но вы можете это изменить, посетив наш каталог!',
                'iconSrc': '/assets/img/specifications/icons/icon-catalog-empty.svg',
                'btn': true,
                'btnText': 'Перейти к каталогу'
            })

            +e.preloader
                +e.preloader-logo
                    img(src="/assets/img/specifications/preloader.svg", alt="7salabim preloader", title="Loading...")