+b.articles-grid
    +e.container.container
        +e.section-head.bread-crumbs-head
            +b.UL.bread-crumbs
                +breadCrumbs({
                    'links': [
                        {
                            'href': '/',
                            'title': '7 Salabim'
                        },
                        {
                            'href': '#',
                            'title': 'Блог'
                        }
                    ]
                })

        +e.section-content
            +b.UL.articles-grid-list
                +article({
                    'articles': [
                        {
                            'styleBackgroundImage': 'background: url(assets/img/articles/article-image-1.png) no-repeat center center / cover',
                            'title': 'Что подарить начальнику?',
                            'description': 'С другой стороны начало повседневной работы по формированию позиции обеспечивает широкому кругу (специалистов) участие в формировании...',
                            'dateTime': '2019.04.20',
                            'date': '20.04.2019',
                            'views': '1034',
                            'link': true
                        },
                        {
                            'styleBackgroundImage': 'background: url(assets/img/articles/article-image-2.png) no-repeat center center / cover',
                            'title': 'Топ 10 подарков на рождество',
                            'description': 'С другой стороны начало повседневной работы по формированию позиции обеспечивает широкому кругу (специалистов) участие в формировании...',
                            'dateTime': '2019.04.20',
                            'date': '20.04.2019',
                            'views': '1022',
                            'link': true
                        },
                        {
                            'styleBackgroundImage': 'background: url(assets/img/articles/article-image-3.png) no-repeat center center / cover',
                            'title': 'Декор для дома приносящий удачу!',
                            'description': 'С другой стороны начало повседневной работы по формированию позиции обеспечивает широкому кругу (специалистов) участие в формировании...',
                            'dateTime': '2019.04.20',
                            'date': '20.04.2019',
                            'views': '1000',
                            'link': true
                        },
                        {
                            'styleBackgroundImage': 'background: url(assets/img/articles/article-image-2.png) no-repeat center center / cover',
                            'title': 'Как приручить дракона, в дом. условиях?',
                            'description': 'С другой стороны начало повседневной работы по формированию позиции обеспечивает широкому кругу (специалистов) участие в формировании...',
                            'dateTime': '2019.04.20',
                            'date': '20.04.2019',
                            'views': '1034',
                            'link': true
                        },
                        {
                            'styleBackgroundImage': 'background: url(assets/img/articles/article-image-3.png) no-repeat center center / cover',
                            'title': 'Топ 10 подарков на днюху',
                            'description': 'С другой стороны начало повседневной работы по формированию позиции обеспечивает широкому кругу (специалистов) участие в формировании...',
                            'dateTime': '2019.04.20',
                            'date': '20.04.2019',
                            'views': '1022',
                            'link': true
                        },
                        {
                            'styleBackgroundImage': 'background: url(assets/img/articles/article-image-1.png) no-repeat center center / cover',
                            'title': 'Декор для дома приносящий деньги!',
                            'description': 'С другой стороны начало повседневной работы по формированию позиции обеспечивает широкому кругу (специалистов) участие в формировании...',
                            'dateTime': '2019.04.20',
                            'date': '20.04.2019',
                            'views': '1000',
                            'link': true
                        },
                        {
                            'styleBackgroundImage': 'background: url(assets/img/articles/article-image-2.png) no-repeat center center / cover',
                            'title': 'Как приручить дракона, в дом. условиях?',
                            'description': 'С другой стороны начало повседневной работы по формированию позиции обеспечивает широкому кругу (специалистов) участие в формировании...',
                            'dateTime': '2019.04.20',
                            'date': '20.04.2019',
                            'views': '1034',
                            'link': true
                        },
                        {
                            'styleBackgroundImage': 'background: url(assets/img/articles/article-image-3.png) no-repeat center center / cover',
                            'title': 'Топ 10 подарков на днюху',
                            'description': 'С другой стороны начало повседневной работы по формированию позиции обеспечивает широкому кругу (специалистов) участие в формировании...',
                            'dateTime': '2019.04.20',
                            'date': '20.04.2019',
                            'views': '1022',
                            'link': true
                        },
                        {
                            'styleBackgroundImage': 'background: url(assets/img/articles/article-image-1.png) no-repeat center center / cover',
                            'title': 'Декор для дома приносящий деньги!',
                            'description': 'С другой стороны начало повседневной работы по формированию позиции обеспечивает широкому кругу (специалистов) участие в формировании...',
                            'dateTime': '2019.04.20',
                            'date': '20.04.2019',
                            'views': '1000',
                            'link': true
                        }
                    ]
                })

            +e.pagination.pagination-controllers
                +e.BUTTON.pagination-btn-prev.btn-prev
                    i.zmdi.zmdi-long-arrow-left

                +b.UL.pagination
                    +pagination({
                        'numbers': [
                            {
                                'order': '1',
                                'href': 'javascript:void(0);',
                                'active': true,
                                'mobile': true
                            },
                            {
                                'order': '2',
                                'href': 'javascript:void(0);',
                                'mobile': true
                            },
                            {
                                'order': '3',
                                'href': 'javascript:void(0);',
                                'mobile': true
                            },
                            {
                                'order': '4',
                                'href': 'javascript:void(0);',
                            },
                            {
                                'order': '5',
                                'href': 'javascript:void(0);',
                            },
                            {
                                'order': '...',
                                'href': 'javascript:void(0);',
                                'dots': true,
                                'mobile': true
                            },
                            {
                                'order': '112',
                                'href': 'javascript:void(0);',
                                'mobile': true
                            }
                        ]
                    })

                +e.BUTTON.pagination-btn-next.btn-next
                    i.zmdi.zmdi-long-arrow-right