+b.SECTION(style="background: url(/assets/img/articles/article-image-4.png) no-repeat center center / cover").article-top#article-top
    +e.cover

    +e.container.container
        +e.content
            +e.section-top
                +e.H2.title.title Сделай подарок близким и любимым!

                +e.P.description.light-text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.

            +e.section-bottom
                +e.section-info
                    +e.section-info-date
                        i(style="background: url(assets/img/articles/icons/date-icon.svg) no-repeat center center / contain")

                        span 5 часов назад

                    +e.section-info-reviews
                        i(style="background: url(assets/img/articles/icons/views-icon.svg) no-repeat center center / contain")

                        span 2123

                +e.section-btn
                    +e.A(href="/article.html").btn.btn Читать далее
