.head
  &-nav
    &-navigation
      +flex(center, center, false, nowrap)
      padding: 13px 0
      height: 54px
      display: none

      @media (max-width: $media-mobile)
        display: flex

      &__item
        margin-right: 35px

        a
          position: relative
          +flex(center, center)

          i
            font-size: 23px
            position: absolute
            top: -3px
            transition: opacity .3s linear
            opacity: 1
            color: $color-text

            & + span
              left: -15px

            img
              position: relative

          span
            position: relative
            top: 0
            left: -40px
            display: block
            font-size: 12px
            color: #fff
            background: $color-primary
            border-radius: 2px
            padding: 2px 4px

        &.checked-position-top a
          top: -6px

        &:first-child
          top: 1px

        &:first-child a i:nth-child(2)
          opacity: 0

        &:first-child:hover a i:nth-child(2)
          opacity: 1

        &:last-child
          margin-right: 0

        &:last-child
          margin-right: 0