.header
  &-submenu
    background: #fff
    padding: 50px 58px
    width: 100%
    max-width: 58vw
    +flex(center, flex-start, false, nowrap)
    height: 100%

    //& > li
    //  height: 100%
    //  max-height: 320px
    //  overflow-y: auto

    @media (max-width: $media-xlg)
      max-width: 85.5vw

    @media (max-width: $media-mobile)
      display: none

    @media (max-width: $media-between-xg)
      padding: 74px 58px
    //  padding-top: 58px!important
    //  padding-bottom: 58px!important
    //
    //@media (max-width: $exclusive-xlg-small)
    //  padding-top: 58px!important
    //  padding-bottom: 58px!important

    &__list
      margin-right: 5vw
      height: 100%

      li
        margin-bottom: 14px
        width: 162px

        a
          display: inline-block
          text-align: left
          transition: color .3s linear
          font-family: $lato-font-black
          font-size: 15px!important
          font-weight: 500

          &:hover
            color: $color-primary!important

          @media (max-width: $media-between-xg)
            font-size: 14px

        &:last-child
          margin-bottom: 0

    li
      &:last-child
        ul
          margin-right: 0!important

    &-popup
      position: fixed
      top: 0
      left: 0
      z-index: -1
      width: 100vw
      height: 100vh
      padding: 70px 25px 30px
      display: none
      background: #fff
      opacity: 0
      transition: opacity .3s linear

      &__content
        height: 100%

        & .header-submenu
          overflow-y: auto
          height: 100%
          display: block
          padding: 0!important
          margin-bottom: 30px

        & .header-submenu__list:last-child
          margin-bottom: 0

        & .header-submenu .header-submenu__list
          display: block
          margin-bottom: 25px

        & .header-submenu .header-submenu__list a
          font-size: 14px
          text-align: left
          transition: color .3s linear
          font-family: $lato-font-black
          font-weight: 500
          color: $color-text-darken

        & .header-submenu li:last-child .header-submenu__list:last-child
          margin-bottom: 0

        a
          transition: color .3s ease

          &:hover, &:focus
            color: $color-primary

      &__btn
        &-close
          position: absolute
          top: 35px
          right: 15px

          i
            font-size: 25px
            color: $silver-border-light
            transition: color .3s linear

          &:focus
            i
              color: $color-primary

      &--active
        display: block
        z-index: 9999
        opacity: 1