+b.SECTION.error-page#error-page
    +e.container.container
        +e.section-head.bread-crumbs-head
            +b.UL.bread-crumbs
                +breadCrumbs({
                    'links': [
                        {
                            'href': '/',
                            'title': '7 Salabim'
                        },
                        {
                            'href': '/error-404.html',
                            'title': '404'
                        }
                    ]
                })

        +e.section-content
            +e.image
                +e.SPAN.text 404

                IMG(src="/assets/img/specifications/gifts.png")

        +e.section-bottom
            h1 Упс, не тот подарок что хотелось бы!

            span Ваша страница не найдена или была удалена но вы можете начать просмотр с нашего каталога!

            +e.BUTTON(href="/catalog.html").btn.btn Перейти к каталогу